#sing {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0;
}

#sing * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#sing *:before,
#sing *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#sing .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    #sing .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    #sing .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    #sing .container {
        width: 1170px;
    }
}

#sing .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#sing .row {
    margin-right: -15px;
    margin-left: -15px;
}

#sing .row-no-gutters {
    margin-right: 0;
    margin-left: 0;
}

#sing .row-no-gutters [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
    float: left;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-11 {
    width: 91.66666667%;
}

.col-xs-10 {
    width: 83.33333333%;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-8 {
    width: 66.66666667%;
}

.col-xs-7 {
    width: 58.33333333%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-5 {
    width: 41.66666667%;
}

.col-xs-4 {
    width: 33.33333333%;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-2 {
    width: 16.66666667%;
}

.col-xs-1 {
    width: 8.33333333%;
}

.col-xs-pull-12 {
    right: 100%;
}

.col-xs-pull-11 {
    right: 91.66666667%;
}

.col-xs-pull-10 {
    right: 83.33333333%;
}

.col-xs-pull-9 {
    right: 75%;
}

.col-xs-pull-8 {
    right: 66.66666667%;
}

.col-xs-pull-7 {
    right: 58.33333333%;
}

.col-xs-pull-6 {
    right: 50%;
}

.col-xs-pull-5 {
    right: 41.66666667%;
}

.col-xs-pull-4 {
    right: 33.33333333%;
}

.col-xs-pull-3 {
    right: 25%;
}

.col-xs-pull-2 {
    right: 16.66666667%;
}

.col-xs-pull-1 {
    right: 8.33333333%;
}

.col-xs-pull-0 {
    right: auto;
}

.col-xs-push-12 {
    left: 100%;
}

.col-xs-push-11 {
    left: 91.66666667%;
}

.col-xs-push-10 {
    left: 83.33333333%;
}

.col-xs-push-9 {
    left: 75%;
}

.col-xs-push-8 {
    left: 66.66666667%;
}

.col-xs-push-7 {
    left: 58.33333333%;
}

.col-xs-push-6 {
    left: 50%;
}

.col-xs-push-5 {
    left: 41.66666667%;
}

.col-xs-push-4 {
    left: 33.33333333%;
}

.col-xs-push-3 {
    left: 25%;
}

.col-xs-push-2 {
    left: 16.66666667%;
}

.col-xs-push-1 {
    left: 8.33333333%;
}

.col-xs-push-0 {
    left: auto;
}

.col-xs-offset-12 {
    margin-left: 100%;
}

.col-xs-offset-11 {
    margin-left: 91.66666667%;
}

.col-xs-offset-10 {
    margin-left: 83.33333333%;
}

.col-xs-offset-9 {
    margin-left: 75%;
}

.col-xs-offset-8 {
    margin-left: 66.66666667%;
}

.col-xs-offset-7 {
    margin-left: 58.33333333%;
}

.col-xs-offset-6 {
    margin-left: 50%;
}

.col-xs-offset-5 {
    margin-left: 41.66666667%;
}

.col-xs-offset-4 {
    margin-left: 33.33333333%;
}

.col-xs-offset-3 {
    margin-left: 25%;
}

.col-xs-offset-2 {
    margin-left: 16.66666667%;
}

.col-xs-offset-1 {
    margin-left: 8.33333333%;
}

.col-xs-offset-0 {
    margin-left: 0%;
}

@media (min-width: 768px) {
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        float: left;
    }
    .col-sm-12 {
        width: 100%;
    }
    .col-sm-11 {
        width: 91.66666667%;
    }
    .col-sm-10 {
        width: 83.33333333%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-8 {
        width: 66.66666667%;
    }
    .col-sm-7 {
        width: 58.33333333%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-5 {
        width: 41.66666667%;
    }
    .col-sm-4 {
        width: 33.33333333%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-2 {
        width: 16.66666667%;
    }
    .col-sm-1 {
        width: 8.33333333%;
    }
    .col-sm-pull-12 {
        right: 100%;
    }
    .col-sm-pull-11 {
        right: 91.66666667%;
    }
    .col-sm-pull-10 {
        right: 83.33333333%;
    }
    .col-sm-pull-9 {
        right: 75%;
    }
    .col-sm-pull-8 {
        right: 66.66666667%;
    }
    .col-sm-pull-7 {
        right: 58.33333333%;
    }
    .col-sm-pull-6 {
        right: 50%;
    }
    .col-sm-pull-5 {
        right: 41.66666667%;
    }
    .col-sm-pull-4 {
        right: 33.33333333%;
    }
    .col-sm-pull-3 {
        right: 25%;
    }
    .col-sm-pull-2 {
        right: 16.66666667%;
    }
    .col-sm-pull-1 {
        right: 8.33333333%;
    }
    .col-sm-pull-0 {
        right: auto;
    }
    .col-sm-push-12 {
        left: 100%;
    }
    .col-sm-push-11 {
        left: 91.66666667%;
    }
    .col-sm-push-10 {
        left: 83.33333333%;
    }
    .col-sm-push-9 {
        left: 75%;
    }
    .col-sm-push-8 {
        left: 66.66666667%;
    }
    .col-sm-push-7 {
        left: 58.33333333%;
    }
    .col-sm-push-6 {
        left: 50%;
    }
    .col-sm-push-5 {
        left: 41.66666667%;
    }
    .col-sm-push-4 {
        left: 33.33333333%;
    }
    .col-sm-push-3 {
        left: 25%;
    }
    .col-sm-push-2 {
        left: 16.66666667%;
    }
    .col-sm-push-1 {
        left: 8.33333333%;
    }
    .col-sm-push-0 {
        left: auto;
    }
    .col-sm-offset-12 {
        margin-left: 100%;
    }
    .col-sm-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-sm-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-sm-offset-9 {
        margin-left: 75%;
    }
    .col-sm-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-sm-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-sm-offset-6 {
        margin-left: 50%;
    }
    .col-sm-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-sm-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-sm-offset-3 {
        margin-left: 25%;
    }
    .col-sm-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-sm-offset-0 {
        margin-left: 0%;
    }
}

@media (min-width: 992px) {
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        float: left;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66666667%;
    }
    .col-md-10 {
        width: 83.33333333%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
    .col-md-1 {
        width: 8.33333333%;
    }
    .col-md-pull-12 {
        right: 100%;
    }
    .col-md-pull-11 {
        right: 91.66666667%;
    }
    .col-md-pull-10 {
        right: 83.33333333%;
    }
    .col-md-pull-9 {
        right: 75%;
    }
    .col-md-pull-8 {
        right: 66.66666667%;
    }
    .col-md-pull-7 {
        right: 58.33333333%;
    }
    .col-md-pull-6 {
        right: 50%;
    }
    .col-md-pull-5 {
        right: 41.66666667%;
    }
    .col-md-pull-4 {
        right: 33.33333333%;
    }
    .col-md-pull-3 {
        right: 25%;
    }
    .col-md-pull-2 {
        right: 16.66666667%;
    }
    .col-md-pull-1 {
        right: 8.33333333%;
    }
    .col-md-pull-0 {
        right: auto;
    }
    .col-md-push-12 {
        left: 100%;
    }
    .col-md-push-11 {
        left: 91.66666667%;
    }
    .col-md-push-10 {
        left: 83.33333333%;
    }
    .col-md-push-9 {
        left: 75%;
    }
    .col-md-push-8 {
        left: 66.66666667%;
    }
    .col-md-push-7 {
        left: 58.33333333%;
    }
    .col-md-push-6 {
        left: 50%;
    }
    .col-md-push-5 {
        left: 41.66666667%;
    }
    .col-md-push-4 {
        left: 33.33333333%;
    }
    .col-md-push-3 {
        left: 25%;
    }
    .col-md-push-2 {
        left: 16.66666667%;
    }
    .col-md-push-1 {
        left: 8.33333333%;
    }
    .col-md-push-0 {
        left: auto;
    }
    .col-md-offset-12 {
        margin-left: 100%;
    }
    .col-md-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-md-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-md-offset-9 {
        margin-left: 75%;
    }
    .col-md-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-md-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-md-offset-6 {
        margin-left: 50%;
    }
    .col-md-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-md-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-md-offset-3 {
        margin-left: 25%;
    }
    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-md-offset-0 {
        margin-left: 0%;
    }
}

@media (min-width: 1200px) {
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12 {
        float: left;
    }
    .col-lg-12 {
        width: 100%;
    }
    .col-lg-11 {
        width: 91.66666667%;
    }
    .col-lg-10 {
        width: 83.33333333%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-8 {
        width: 66.66666667%;
    }
    .col-lg-7 {
        width: 58.33333333%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-5 {
        width: 41.66666667%;
    }
    .col-lg-4 {
        width: 33.33333333%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-2 {
        width: 16.66666667%;
    }
    .col-lg-1 {
        width: 8.33333333%;
    }
    .col-lg-pull-12 {
        right: 100%;
    }
    .col-lg-pull-11 {
        right: 91.66666667%;
    }
    .col-lg-pull-10 {
        right: 83.33333333%;
    }
    .col-lg-pull-9 {
        right: 75%;
    }
    .col-lg-pull-8 {
        right: 66.66666667%;
    }
    .col-lg-pull-7 {
        right: 58.33333333%;
    }
    .col-lg-pull-6 {
        right: 50%;
    }
    .col-lg-pull-5 {
        right: 41.66666667%;
    }
    .col-lg-pull-4 {
        right: 33.33333333%;
    }
    .col-lg-pull-3 {
        right: 25%;
    }
    .col-lg-pull-2 {
        right: 16.66666667%;
    }
    .col-lg-pull-1 {
        right: 8.33333333%;
    }
    .col-lg-pull-0 {
        right: auto;
    }
    .col-lg-push-12 {
        left: 100%;
    }
    .col-lg-push-11 {
        left: 91.66666667%;
    }
    .col-lg-push-10 {
        left: 83.33333333%;
    }
    .col-lg-push-9 {
        left: 75%;
    }
    .col-lg-push-8 {
        left: 66.66666667%;
    }
    .col-lg-push-7 {
        left: 58.33333333%;
    }
    .col-lg-push-6 {
        left: 50%;
    }
    .col-lg-push-5 {
        left: 41.66666667%;
    }
    .col-lg-push-4 {
        left: 33.33333333%;
    }
    .col-lg-push-3 {
        left: 25%;
    }
    .col-lg-push-2 {
        left: 16.66666667%;
    }
    .col-lg-push-1 {
        left: 8.33333333%;
    }
    .col-lg-push-0 {
        left: auto;
    }
    .col-lg-offset-12 {
        margin-left: 100%;
    }
    .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-lg-offset-9 {
        margin-left: 75%;
    }
    .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-lg-offset-6 {
        margin-left: 50%;
    }
    .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-lg-offset-3 {
        margin-left: 25%;
    }
    .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-lg-offset-0 {
        margin-left: 0%;
    }
}

#sing .clearfix:before,
#sing .clearfix:after,
#sing .container:before,
#sing .container:after,
#sing .container-fluid:before,
#sing .container-fluid:after,
#sing .row:before,
#sing .row:after {
    display: table;
    content: " ";
}

#sing .clearfix:after,
#sing .container:after,
#sing .container-fluid:after,
#sing .row:after {
    clear: both;
}

.op {
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -ms-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
    opacity: 0.1;
    cursor: pointer;
}

.rooms_text {
    position: relative;
}

.rooms_text .rooms_text_one {
    color: #000;
    font-size: 50px;
    font-weight: 700;
    text-decoration: none;
    display: none;
    position: absolute;
    left: 30%;
    right: 30%;
    top: 50%;
    text-align: center;
    transition: opacity 9s ease;
    opacity: 0;
}

.link_vb {
    display: block !important;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -ms-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
    opacity: 1 !important;
}


/*All mixed styles*/

.about-us {
    padding-left: 40%;
}

@media (min-width: 320px) and (max-width: 480px) {
    .about-us {
        display: none;
    }
    .owl-controls {
        margin-top: 0px !important;
    }
    .owl-controls {
        margin-top: 0px !important;
    }
    #anim_micro_animation,
    #anim_video_explainer,
    #anim_all_in,
    #anim_infographic,
    #anim_character_design {
        display: none !important;
    }
    #scenes .half:first-of-type {
        height: 75% !important;
    }
    #current {
        display: none !important;
    }
}

.bt__info {
    display: none !important;
}

#scenes .section_portfolio .step1 .portfolio-navigantion h1:hover {
    padding-left: 5px;
    border-left: 4px solid #3116f7;
}

@media (min-width: 320px) and (max-width: 480px) {
    .big_rock {
        display: none;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .bx-controls a:hover span {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .bx-controls a:hover span {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .bx-controls a:hover span {
        display: none !important;
    }
}

#service_one:hover #mama_one {
    color: red;
}

#scroll_about {
    overflow-y: overlay !important;
    width: 55% !important;
}

#scenes .half:first-of-type {
    overflow-y: scroll;
    height: 450px;
}

@media (min-width: 320px) and (max-width: 480px) {
    #scroll_about {
        width: 100% !important;
    }
}


/* testimonails */

.test_wrp .owl-prev {
    background-image: url('images/left.png') !important;
    background-repeat: no-repeat !important;
    background-size: 10px !important;
}

.test_wrp .owl-next {
    background-image: url('images/right_.png') !important;
    background-repeat: no-repeat !important;
    background-size: 10px !important;
}

.test_wrp .testimonial {
    text-align: center;
}

.test_wrp .testimonial .pic {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin: 0 auto 40px;
    border: 4px solid #eb7260;
    overflow: hidden;
}

.test_wrp .testimonial .pic img {
    width: 100%;
    height: auto;
}

.test_wrp .testimonial .description {
    color: #8a9aad;
    font-size: 15px;
    font-style: italic;
    line-height: 24px;
    margin-bottom: 20px;
}

.test_wrp .testimonial .testimonial-prof {
    margin: 20px 0;
}

.test_wrp .testimonial .title {
    font-size: 20px;
    color: #eb7260;
    margin-right: 20px;
    text-transform: capitalize;
}

.test_wrp .testimonial .title:after {
    content: "";
    margin-left: 30px;
    border-right: 1px solid #808080;
}

.test_wrp .testimonial .testimonial-prof small {
    display: inline-block;
    color: #8a9aad;
    font-size: 17px;
    text-transform: capitalize;
}

.test_wrp .owl-theme .owl-controls .owl-buttons div {
    background: transparent;
    opacity: 1;
}

.test_wrp .owl-buttons {
    position: absolute;
    top: 8%;
    width: 100%;
}

.test_wrp .owl-prev {
    position: absolute;
    left: 30%;
}

.test_wrp .owl-next {
    position: absolute;
    right: 30%;
}

.test_wrp .owl-prev:after,
.test_wrp .owl-next:after {
    content: "\f060";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    width: 28px;
    height: 28px;
    font-size: 16px;
    color: transparent;
    transition: all 0.15s ease 0s;
}

.test_wrp .owl-next:after {
    content: "\f061";
}

@media only screen and (max-width: 479px) {
    .test_wrp .owl-prev {
        left: 10%;
    }
    .test_wrp .owl-next {
        right: 10%;
    }
}

.test_wrp .owl-theme .owl-controls .owl-buttons div {
    color: #FFF;
    display: inline-block;
    zoom: 1;
    display: inline;
    margin: 0;
    padding: 0px 0px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: none;
    filter: Alpha(Opacity=50);
    opacity: .5;
}


/* end of testimonials */


/* plant list */

.plnat_wrp .comp_txt {
    text-align: left;
    font-size: 17px !important;
}

.plnat_wrp .comp_txt strong {
    font-size: 17px !important;
}

.plant_slide {
    padding-top: 5px;
}

.plnat_wrp .demo {
    background: #3d3d3d;
}

.plnat_wrp .plant_slide {
    border-left: none;
    border-right: none;
    text-align: center;
}

.plnat_wrp .plant_slide .pic {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
    overflow: hidden;
}

.plnat_wrp .plant_slide .pic img {
    width: 100%;
    height: auto;
}

.plnat_wrp .plant_slide .title {
    display: block;
    text-align: left;
    padding-left: 5px;
    border-left: 4px solid #3116f7;
    margin: 0 0 7px 0;
    font-size: 20px;
    font-weight: 600;
    color: #3116f7;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.plnat_wrp .plant_slide .post {
    display: block;
    font-size: 15px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.plnat_wrp .plant_slide .description {
    font-size: 14px;
    text-align: justify;
    color: black;
    line-height: 25px;
}

.sbox span {
    width: 20px;
    height: 20px;
    display: block;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.sbox span:nth-child(2) {
    animation-delay: -0.2s;
}

.sbox span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: rotate(45deg) translate(10px, 10px);
    }
    100% {
        opacity: 0;
    }
}

.sbox {
    position: absolute;
    left: 20px;
    bottom: 45px;
}

@media (max-width: 768px) {
    .sbox {
        display: none;
    }
}

.plant_slide {
    width: 100%;
}


/* End Plant list */


/* Client */

.client_3 {
    height: 174px;
}

.client_4 {
    height: 150px;
}

.client_logo {
    height: 150px;
    padding-left: 19px;
    border-bottom: 0px solid black;
}


/*.client_logo {
    filter: grayscale(100%);
}

.client_logo:hover {
    filter: saturate(8);
}*/

.serviceBox {
    color: #666;
    background: linear-gradient(to right, #f1c40f 49%, #f39c12 50%);
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 2px 10px 12px;
    border-radius: 150px 0 50px 50px;
    transition: all 0.3s ease 0s;
}

.serviceBox .service-content {
    background: linear-gradient(to top left, #fff, #fff, rgba(255, 255, 255, 0.8));
    padding: 20px 13px;
    border-radius: 0 130px 50px 50px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.serviceBox .service-icon {
    color: #f1c40f;
    font-size: 50px;
    margin: 0 0 10px 0;
}

.serviceBox:hover .service-icon i {
    color: #da8219;
    transform: rotateY(360deg);
    transition: all 0.3s;
}

.serviceBox .title {
    color: #da8219;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 10px;
}

.serviceBox .description {
    font-size: 15px;
    line-height: 25px;
}

.serviceBox.green {
    background: linear-gradient(to right, #01acb3 49%, #007687 50%);
}

.serviceBox.green .service-icon {
    color: #01acb3;
}

.serviceBox.green:hover .service-icon i,
.serviceBox.green .title {
    color: #007687;
}

.serviceBox.purple {
    background: linear-gradient(to right, #ae3de2 49%, #8622d5 50%);
}

.serviceBox.purple .service-icon {
    color: #ae3de2;
}

.serviceBox.purple:hover .service-icon i,
.serviceBox.purple .title {
    color: #8622d5;
}

.serviceBox.blue {
    background: linear-gradient(to right, #02aff1 49%, #0179e9 50%);
}

.serviceBox.blue .service-icon {
    color: #02aff1;
}

.serviceBox.blue:hover .service-icon i,
.serviceBox.blue .title {
    color: #0179e9;
}

@media only screen and (max-width:990px) {
    .serviceBox {
        margin: 0 0 30px;
    }
}

#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}

div#client_wrp {
    margin-top: 120px;
}

#owl-demo .owl-controls {
    margin-top: 10px;
    text-align: center;
}

#owl-demo .owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#owl-demo .owl-controls .owl-page {
    display: inline-block;
    zoom: 1;
}

#owl-demo .owl-controls .owl-page,
#owl-demo .owl-controls .owl-buttons div {
    cursor: pointer;
}

#owl-demo .owl-controls .owl-page.active span,
#owl-demo .owl-controls.clickable .owl-page:hover span {
    filter: Alpha(Opacity=100);
    opacity: 1;
}

#owl-demo .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #3116f7;
}

#owl-demo .owl-pagination {
    position: absolute;
    margin-top: 20px;
}

@media (max-width: 767px) {
    .for_desk {
        display: none;
    }
    .for_mob {
        display: block;
    }
}


/* end of client */

::-webkit-scrollbar {
    display: none;
}

@media screen and (min-width: 769px) {
    body[data-page=about] .bx-controls,
    body[data-page=portfolio] .bx-controls {
        opacity: 1;
        pointer-events: all;
    }
}


/* product section carousel buttons */

@media screen and (max-width: 1440px) and (min-width: 768px) {
    #scenes .section_portfolio .step1 .slick-controls {
        left: 30px;
        bottom: 50px;
        right: 28px;
    }
}

@media screen and (max-width: 1440px) {
    #scenes .section_portfolio .step1 .slick-controls .slick-controls-direction {
        height: 26px;
    }
}

#scenes .section_portfolio .step1 .slick-controls a.slick-prev:before {
    width: 14px;
    height: 9px;
}

#scenes .section_portfolio .step1 .slick-controls a.slick-next:after {
    width: 14px;
    height: 9px;
}

@media screen and (max-width: 768px) {
    #scenes .section_portfolio .step1 .portfolio-navigantion {
        position: relative;
        top: 0px;
        margin-top: 40px;
    }
}


/* all mixed */

.mb_pad {
    padding: 10px;
}

#jsRooms .view_mobile .bt {
    margin-bottom: 60px;
}

a.bt.about {
    margin-bottom: 15px !important;
}

#jsRooms .view_mobile .header {
    max-width: 300px;
    color: inherit;
    padding: 25px 8px;
    margin: 0px auto;
    margin-top: 45px;
}

#jsRooms .view_mobile .bottom .more {
    font-size: 18px;
}

#jsRooms .view_mobile .bottom {
    margin-top: 0px;
}

@media screen and (max-width: 768px) {
    #scenes .section_about .top h1 {
        font-size: 25px!important;
        margin: 0 0 30px!important;
    }
    #scenes .section_portfolio .step1 .portfolio-navigantion h1 {
        font-size: 28px!important;
        margin: 0 0 31px!important;
        float: none;
        /* margin-top: 18px !important; */
    }
}

@media screen and (max-width: 1024px) {
    #scenes h1 {
        font-size: 28px;
        margin-bottom: 30px;
    }
}


/* all mobile dec aligns */

.about .desc {
    margin-top: 8px;
    left: 30px;
    text-align: left;
}

.ser .desc {
    right: 30px;
    text-align: left;
}

.pm .desc {
    left: 30px;
    text-align: left;
}

.palt .desc {
    right: 30px;
    text-align: left;
}

.blg .desc {
    left: 30px;
    text-align: left;
}

.cnt .desc {
    text-align: left;
    right: 30px;
}

.tmls .desc {
    left: 30px;
    text-align: left;
}

.cot .desc {
    text-align: left;
    right: 30px;
    margin-top: 12px;
}

.about img {
    position: relative;
    left: 65px;
}

.ser img {
    width: 70% !important;
    position: relative;
    left: 20px;
}

.pm img {
    width: 73% !important;
    position: relative;
    right: -70px;
}

.palt img {
    width: 75% !important;
    position: relative;
    left: 20px;
}

.blg img {
    width: 70% !important;
    position: relative;
    left: 80px;
}

.cnt img {
    width: 80% !important;
}

.tmls img {
    width: 80% !important;
    position: relative;
    left: 79px;
    top: 18px;
}

.cot img {
    width: 70% !important;
}

.plbm {
    margin-bottom: 25px;
    margin-top: 30px;
}

#scenes .btn {
    margin: 20px auto 60px;
    text-align: center;
}

@media (max-width: 767px) {
    .plbm {
        margin-bottom: 14px !important;
        margin-top: 20px;
    }
    #scenes .btn {
        margin: 0px auto 60px;
        text-align: center;
    }
}


/* home svg oppps */

.hmsv.rooms #hmvs2 svg {
    max-height: 100vh;
}

.hmsv.rooms #hmvs2 svg {
    margin-bottom: 0px;
}

.hmsv.rooms.active .text.rr {
    position: relative;
    bottom: 26px;
}

.hmsv.rooms.active .text.rr p {
    font-size: 12px;
}

#jsRooms .view.view_pc {
    overflow: hidden;
    position: relative;
    top: -20px;
}

.hmsv .rooms_text#hmvs2 p {
    cursor: pointer;
    pointer-events: none;
}

#box_tmp {
    width: 100%;
    height: 120px;
    background-color: transparent;
    position: absolute;
    bottom: 0px;
}

.hmsv.rooms #hmvs2 .layer--active {
    cursor: pointer;
}

.bottom-left {
    display: none;
}

body[data-page=portfolio] .bottom-left {
    display: block;
}


/* Blog.php styles*/

.card {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#2C3E50), to(#16A085));
    background-image: linear-gradient(0deg, #2C3E50 0%, #16A085 100%);
    width: 350px;
    height: 350px;
    margin: 20px;
    position: relative;
    overflow: hidden;
}

.card-image {
    height: 350px;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.card-meta {
    font-size: 0.6875em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card-meta:before {
    content: '';
    height: 1px;
    width: 30px;
    background-color: #fff;
    position: relative;
    display: block;
    margin-bottom: 10px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
    -webkit-transform: translate(0, -10px);
    transform: translate(0, -10px);
    -webkit-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.card-text {
    color: #FFF;
    background-color: rgba(17, 17, 17, 0.65);
    position: absolute;
    padding: 20px;
    z-index: 10;
    height: 100%;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    -webkit-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.card-title {
    margin: 8px 0;
    font-weight: 300;
    font-size: 1.875em;
}

.card a:hover .card-text {
    background-color: rgba(17, 17, 17, 0.86);
}

.card a:hover .card-meta:before {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    -webkit-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.card a:hover .card-image {
    -webkit-transform: translate(20px, 0);
    transform: translate(20px, 0);
    -webkit-transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.blog_wrapper {
    max-height: 70vh;
    overflow: scroll;
}


/* conract section */

.contact_wrap form {
    width: 100% !important;
    margin-top: 0px;
    position: relative;
}

.blog_wrapper.contact_wrap {
    position: relative;
    top: 150px;
}

.contact_wrap .field--submit {
    margin: 0px auto 0;
    max-width: 200px;
    margin-left: 0;
}

.contact_wrap .input--submit {
    padding: 14px 50px;
    background-color: #7a7a7a !important;
}

.contact_wrap .input--submit:hover {
    background-color: #424242 !important;
}

.contact_wrap .btn {
    display: block !important;
    background-color: transparent !important;
    text-align: left !important;
}

.contact_wrap .response {
    margin: 8px 0 20px -60px;
}


/* Begin Right Contact Page */

.direct-contact-container {
    max-width: 400px;
    float: right;
    margin-top: 5px;
}


/* Location, Phone, Email Section */

.contact-list {
    list-style-type: none;
    margin-left: 0;
    padding-right: 20px;
}

.list-item {
    line-height: 3.8;
    color: #7f7f7f;
}

.contact-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #222;
}

.place {
    margin-left: 8px;
}

.phone {
    margin-left: 12px;
}

.gmail {
    margin-left: 10px;
}

.ffsz {
    font-size: 1.8em;
}

.contact-text a {
    color: #222222;
    text-decoration: none;
    transition-duration: 0.2s;
}

.contact-text a:hover {
    color: #3116f7;
    text-decoration: none;
}


/* Social Media Icons */

.social-media-list {
    position: relative;
    font-size: 2.3rem;
    text-align: center;
    width: 100%;
}

.social-media-list li a {
    color: #fff !important;
}

.social-media-list li {
    position: relative;
    top: 0;
    left: -20px;
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px auto;
    line-height: 62px;
    border-radius: 50%;
    color: #fff;
    background-color: #7a7a7a;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 62px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #3116f7;
    transition: all .2s ease-in-out;
}

.social-media-list li:hover {
    background-color: #3116f7;
}

.social-media-list li:hover:after {
    opacity: 1;
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
    color: #fff;
}

hr {
    border-color: rgba(255, 255, 255, .8);
    ;
}


/* Begin Media Queries*/

@media screen and (max-width: 760px) {
    .direct-contact-container,
    .form-horizontal {
        float: none;
        margin: 10px auto;
    }
    .direct-contact-container {
        margin-top: 60px;
        max-width: 300px;
    }
    .social-media-list li {
        height: 60px;
        width: 60px;
        line-height: 60px;
    }
    .social-media-list li:after {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
}

@media screen and (max-width: 569px) {
    .direct-contact-container {
        float: none;
        margin: 0 auto;
    }
    .direct-contact-container {
        margin-top: 60px;
        max-width: 280px;
    }
    .social-media-list {
        left: 0;
    }
    .social-media-list li {
        height: 55px;
        width: 55px;
        line-height: 55px;
        font-size: 2rem;
    }
    .social-media-list li:after {
        width: 55px;
        height: 55px;
        line-height: 55px;
    }
}

.form-animate-fields .form-field {
    position: relative;
    overflow: hidden;
    padding-top: 27px;
    margin-bottom: 3px;
}

.form-animate-fields .form-input {
    position: relative;
    z-index: 100;
    display: block;
    background-color: transparent;
    width: 100%;
    height: 44px;
    padding: 8px;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #fff;
}

.form-animate-fields .form-input:focus {
    outline: none;
}

.form-animate-fields .form-label {
    width: 100%;
    position: absolute;
    top: 24px;
    padding: 10px 8px;
    padding-left: 1px;
}

.form-animate-fields .form-label:before,
.form-animate-fields .form-label:after {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
}

.form-animate-fields .form-label:before {
    top: 0;
    background-color: #3116f7;
    height: 100%;
    -webkit-transform: translate3d(-101%, 0, 0);
    transform: translate3d(-101%, 0, 0);
    -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.7, 0, 0.3, 1);
    transition: -webkit-transform 0.35s cubic-bezier(0.7, 0, 0.3, 1);
    transition: transform 0.35s cubic-bezier(0.7, 0, 0.3, 1);
    transition: transform 0.35s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.35s cubic-bezier(0.7, 0, 0.3, 1);
}

.form-animate-fields .form-input.is-filled+.form-label:before {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.form-animate-fields .form-label:after {
    bottom: 0;
    height: 1px;
    background-color: #dedede;
    -webkit-transition: opacity 0.5s cubic-bezier(0.7, 0, 0.3, 1);
    transition: opacity 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}

.form-animate-fields .form-input.is-filled+.form-label:after {
    opacity: 0;
}

.form-animate-fields .form-label-content {
    position: relative;
    display: block;
    width: 100%;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: color 0.25s 0.25s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.25s 0.05s cubic-bezier(0.7, 0, 0.3, 1);
    transition: color 0.25s 0.25s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.25s 0.05s cubic-bezier(0.7, 0, 0.3, 1);
    transition: transform 0.25s 0.05s cubic-bezier(0.7, 0, 0.3, 1), color 0.25s 0.25s cubic-bezier(0.7, 0, 0.3, 1);
    transition: transform 0.25s 0.05s cubic-bezier(0.7, 0, 0.3, 1), color 0.25s 0.25s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.25s 0.05s cubic-bezier(0.7, 0, 0.3, 1);
}

.form-animate-fields .form-input.is-filled+.form-label .form-label-content {
    color: #3116f7;
    -webkit-transform: translate3d(-1px, -34px, 0);
    transform: translate3d(-1px, -34px, 0);
}

.contact_wrap .form-animate-fields .form-field {
    color: #7f7f7f;
}

.con-hf2 {
    position: relative;
    left: 30px;
    width: 90%;
}

.loader {
    position: absolute;
    right: 0px;
    left: 0;
    top: 28px;
}

@media (max-width: 991px) {
    .loader {
        /* top: 20px; */
        position: relative;
        /* right: -31px; */
        left: 0%;
        top: 20px;
    }
    .contact_wrap .response {
        margin: 8px 0 20px -60px;
        position: absolute;
        top: -2px;
        left: 64px;
        text-align: left;
    }
    .blog_wrapper.contact_wrap {
        max-height: 70vh;
        top: 120px;
    }
    .contact_wrap .btn {
        margin-bottom: 20px !important;
    }
    .con-hf2 {
        position: relative;
        left: 10px;
        width: 90%;
        top: 20px
    }
    form .abs {
        position: absolute;
    }
}

@media (max-width: 768px) {
    form .abs {
        position: absolute;
        display: block;
    }
    .loader {
        /* top: 20px; */
        position: relative;
        /* right: -31px; */
        left: 30%;
        top: 26px;
    }
    .con-hf2 {
        position: relative;
        left: 10px;
        width: 90%;
        top: 20px;
    }
    .contact_wrap .response {
        margin: 8px 0 20px 0px;
        position: absolute;
        top: 70px;
        width: 100%;
        left: 4px;
        text-align: left;
        /* margin: 400px; */
    }
}

@media screen and (max-width: 1440px),
(max-height: 860px) and (max-width: 1440px) {
    #scenes .section_about .top h1 {
        font-size: 40px!important;
        margin: 40px 0 11px!important;
    }
}

@media screen and (max-width: 1024px) {
    #scenes .section_portfolio .step1 .portfolio-navigantion h1 {
        font-size: 28px!important;
        margin: 0!important;
        margin-top: 25px !important;
    }
}

@media screen and (max-width: 768px) {
    #scenes .half:last-of-type {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    #scenes .section_about .top h1 {
        font-size: 28px!important;
        margin: 0px 0 30px!important;
    }
    #scenes .section_about .top {
        top: 18vh;
        left: 0;
    }
}

#scenes .section_about .top .mtp {
    margin-top: 25px !important;
    margin-bottom: 15px !important;
}

@media screen and (max-width: 768px) {
    #scenes .section_about .top {
        position: relative;
        top: 0;
    }
    #scenes .section_portfolio .step1 .portfolio-slider .slide .title__container {
        bottom: 28px;
        left: 50px;
    }
    .section_portfolio .step1 .portfolio-slider .slick-list {
        padding: 0 15px!important;
        margin-top: 50px !important;
    }
}


/* Model styles */


/* #modal-zoom-in {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

#modal-zoom-in.show {
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes bounce-out {
    0% {
        top: -200%;
    }
    25% {
        top: 50%;
    }
    40% {
        top: 35%;
    }
    55% {
        top: 50%;
    }
    70% {
        top: 42%;
    }
    85% {
        top: 50%;
    }
    95% {
        top: 48%;
    }
    100% {
        top: 50%;
    }
}

.modal-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(69, 69, 69, 0.7);
    opacity: 0;
    pointer-events: none;
}

.modal-background.show {
    display: block;
    opacity: 1;
    pointer-events: auto;
    animation: fadein 0.8s;
}

.modal-background.hide {
    animation: fadeout 0.8s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.modal {
    position: absolute;
    padding: 35px;
    box-shadow: 0px 0px 8px 0px #333;
    background: #875794;
    color: #fff;
    text-align: left;
    transform-style: preserve-3d;
}

.modal .face-3d {
    backface-visibility: hidden;
}

.modal .back-3d {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background: #875794;
    transform: rotateY(180deg);
}

.modal-background {
    z-index: 999;
}

.modal {
    z-index: 9999;
} */

.blocker {
    z-index: 60;
}

.modal {
    font-size: 16px;
    line-height: 20px;
}

.blobs.big_rock.abbt {
    top: -190px !important;
}

.section_about .title {
    display: block;
    text-align: left;
    padding-left: 5px;
    border-left: 4px solid #3116f7;
    margin: 0 0 7px 0;
    font-size: 20px;
    font-weight: 600;
    color: #3116f7;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.section_about .text--small p {
    margin-bottom: 20px !important;
}

.section_about .text--small {
    margin-bottom: 5px !important;
}

#sing.plnat_wrp .container {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

@media (min-width: 1100px) {
    /*  .blog_wrapper.contact_wrap {
        overflow: hidden !important;
    } */
}


/* product slick slider */


/* Slick Slider Css Ruls */

.slick-slider {
    position: relative;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: none
}

.slick-list.dragging {
    cursor: hand
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: ''
}

.slick-track:after {
    clear: both
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.img-fill {
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center
}

.img-fill img {
    height: 100%;
    min-width: 100%;
    position: relative;
    display: inline-block;
    max-width: none
}


/* Slider Theme Style */

.Container {
    padding: 0 15px;
}

.slick-next:before,
.slick-prev:before {
    font-size: 25px;
    color: #3116f8;
}

.slick-next,
.slick-prev {
    z-index: 99;
}

.slick-prev {
    left: -10px;
}

.slick-next {
    right: -10px;
}

.SlickCarousel {
    margin: 0 -7.5px;
    margin-top: 10px;
}

.ProductBlock {
    padding: 0 7.5px;
}

.ProductBlock .img-fill {
    width: auto;
    height: 300px;
}

.ProductBlock h3 {
    font-size: 20px;
    color: #222;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
    /* border: 1px solid rgb(49, 22, 247);*/
}

.slider_wrp {
    height: 100%;
    width: 100%;
    -webkit-transition: ease opacity .5s;
    transition: ease opacity .5s;
}

#mustdis {
    display: block !important;
}

.custom_ul {
    text-align: left;
    color: #222;
    margin-top: -15px;
    margin-left: 18px;
    list-style-type: square;
}

.mt-5 {
    margin-top: 8px;
}

img.only-mobile {
    display: none;
}

@media (max-width: 768px) {
    img.only-mobile {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: -40px;
        margin-bottom: -30px;
    }
}

.logo {
    height: auto;
    position: relative;
    left: 20px;
}

@media (max-width: 480px) and (min-width: 320px) {
    .logo_adjust {
        margin-left: -5%;
    }
}

.popup ul {
    list-style-type: none;
    margin-top: 15px;
}

.popup ul {
    margin-bottom: 40px;
}

.social-media-list li a {
    position: relative;
    z-index: 1;
}

@media(max-width:1000px) {
    .mobi-head-strip {
        width: 100%;
        height: 89px;
        background-color: #fff;
        position: absolute;
        z-index: 21;
    }
}

p#link_clients {
    top: 40%;
}

.left.half.flex.flex--hcenter.flex--vcenter.flex--column .field--text label:after {
    background: #222;
}


/* Preloader */

#animLogo {
    z-index: 999999999999;
    position: fixed;
    width: auto;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.introAnim {
    display: block;
    height: 25%;
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ff7400 0%, #ffffff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#ffffff", endColorstr="#ffffff", GradientType=0);
    /* IE6-9 */
    width: 100%;
    z-index: 999999999999999;
    top: 0;
}

.animA {
    position: absolute;
    top: 0;
    border-right: 0.0625em solid #fff;
}

.animB {
    position: absolute;
    top: 25%;
    border-right: 0.0625em solid #fff;
}

.animC {
    position: absolute;
    top: 50%;
    border-right: 0.0625em solid #fff;
}

.animD {
    position: absolute;
    top: 75%;
}

.pulsepre {
    /* animation: pulse-animation 2s infinite; */
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}

footer:hover #ctc_text,
footer:hover .page_text {
    color: #ffdc2e;
}

@media screen and (min-width: 1000px) {
    .bx-controls a {
        width: 30px;
        height: 30px;
    }
    .bx-controls {
        bottom: -10px;
    }
}

@media(min-width: 1000px) and (max-width: 1400px) {
    #scenes .scene {
        margin-top: 3% !important;
    }
}