@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Rubik:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*,
.popup {
    -webkit-backface-visibility: hidden
}

.btn,
body {
    position: relative
}

#scenes .to__svg svg,
.rooms svg {
    max-height: 70vh
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
span,
strike,
strong,
summary,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

a img,
img {
    border: none
}

a,
body,
html,
input {
    line-height: 1;
    letter-spacing: normal
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption,
td,
th {
    text-align: left;
    font-weight: 400;
    vertical-align: middle
}

.field--text label,
.popup.active .title,
.popup>.flex,
.response,
.text--center,
form .abs {
    text-align: center
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

@-webkit-keyframes blob-turn {
    0%,
    100% {
        -webkit-transform: rotate(0) translate(0, 0);
        transform: rotate(0) translate(0, 0)
    }
    25% {
        -webkit-transform: rotate(0) translate(-10px, 20px);
        transform: rotate(0) translate(-10px, 20px)
    }
    50% {
        -webkit-transform: rotate(0) translate(20px, 10px);
        transform: rotate(0) translate(20px, 10px)
    }
}

@keyframes blob-turn {
    0%,
    100% {
        -webkit-transform: rotate(0) translate(0, 0);
        transform: rotate(0) translate(0, 0)
    }
    25% {
        -webkit-transform: rotate(0) translate(-10px, 20px);
        transform: rotate(0) translate(-10px, 20px)
    }
    50% {
        -webkit-transform: rotate(0) translate(20px, 10px);
        transform: rotate(0) translate(20px, 10px)
    }
}

@-webkit-keyframes blob-1 {
    0% {
        left: 0;
        top: 0;
        -webkit-transform: rotate(0) scale(1);
        transform: rotate(0) scale(1)
    }
    50% {
        left: -10;
        top: 5px;
        -webkit-transform: rotate(180deg) scale(1.05);
        transform: rotate(180deg) scale(1.05)
    }
    100% {
        left: 0;
        top: 0;
        -webkit-transform: rotate(360deg) scale(1);
        transform: rotate(360deg) scale(1)
    }
}

@keyframes blob-1 {
    0% {
        left: 0;
        top: 0;
        -webkit-transform: rotate(0) scale(1);
        transform: rotate(0) scale(1)
    }
    50% {
        left: -10;
        top: 5px;
        -webkit-transform: rotate(180deg) scale(1.05);
        transform: rotate(180deg) scale(1.05)
    }
    100% {
        left: 0;
        top: 0;
        -webkit-transform: rotate(360deg) scale(1);
        transform: rotate(360deg) scale(1)
    }
}

@-webkit-keyframes blob-2 {
    0% {
        top: 0;
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    50% {
        top: 5px;
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg)
    }
    100% {
        top: 0;
        -webkit-transform: rotate(-290deg);
        transform: rotate(-290deg)
    }
}

@keyframes blob-2 {
    0% {
        top: 0;
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    50% {
        top: 5px;
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg)
    }
    100% {
        top: 0;
        -webkit-transform: rotate(-290deg);
        transform: rotate(-290deg)
    }
}

@-webkit-keyframes blob-3 {
    0% {
        top: 0;
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    50% {
        top: 0;
        right: 0;
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg)
    }
    100% {
        top: 0;
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg)
    }
}

@keyframes blob-3 {
    50% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
        top: -2px;
        right: -2px
    }
    0% {
        top: 0;
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        top: 0;
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg)
    }
}

@-webkit-keyframes drop-1 {
    0%,
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
    50% {
        -webkit-transform: scale(.7, 1.3);
        transform: scale(.7, 1.3)
    }
}

@keyframes drop-1 {
    0%,
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
    50% {
        -webkit-transform: scale(.7, 1.3);
        transform: scale(.7, 1.3)
    }
}

@-webkit-keyframes drop-2 {
    0%,
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
    50% {
        -webkit-transform: scale(1.2, .9);
        transform: scale(1.2, .9)
    }
}

@keyframes drop-2 {
    0%,
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
    50% {
        -webkit-transform: scale(1.2, .9);
        transform: scale(1.2, .9)
    }
}

@-webkit-keyframes drop-3 {
    0%,
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
    50% {
        -webkit-transform: scale(.8, 1.6);
        transform: scale(.8, 1.6)
    }
}

@keyframes drop-3 {
    0%,
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
    50% {
        -webkit-transform: scale(.8, 1.6);
        transform: scale(.8, 1.6)
    }
}

@-webkit-keyframes blob-bounce {
    0% {
        -webkit-transform: translate(0, -500px);
        transform: translate(0, -500px);
        opacity: 0
    }
    70% {
        -webkit-transform: translate(0, 100px);
        transform: translate(0, 100px);
        opacity: 1
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@keyframes blob-bounce {
    0% {
        -webkit-transform: translate(0, -500px);
        transform: translate(0, -500px);
        opacity: 0
    }
    70% {
        -webkit-transform: translate(0, 100px);
        transform: translate(0, 100px);
        opacity: 1
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@-webkit-keyframes opacity {
    from {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes opacity {
    from {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes blob-room-1 {
    0%,
    100% {
        top: 30%
    }
    33% {
        top: 40%;
        right: 70px
    }
    66% {
        top: 50%;
        right: 30px
    }
}

@keyframes blob-room-1 {
    0%,
    100% {
        top: 30%
    }
    33% {
        top: 40%;
        right: 70px
    }
    66% {
        top: 50%;
        right: 30px
    }
}

@-webkit-keyframes blob-room-2 {
    0%,
    100% {
        top: 40%
    }
    33% {
        top: 50%;
        right: 200px
    }
    66% {
        top: 60%;
        right: 160px
    }
}

@keyframes blob-room-2 {
    0%,
    100% {
        top: 40%
    }
    33% {
        top: 50%;
        right: 200px
    }
    66% {
        top: 60%;
        right: 160px
    }
}

@-webkit-keyframes blob-room-3 {
    0% {
        top: 50%;
        right: 40px
    }
    33% {
        top: 50%;
        right: 50px
    }
    66% {
        top: 80%;
        right: 20px
    }
    100% {
        top: 30%
    }
}

@keyframes blob-room-3 {
    0% {
        top: 50%;
        right: 40px
    }
    33% {
        top: 50%;
        right: 50px
    }
    66% {
        top: 80%;
        right: 20px
    }
    100% {
        top: 30%
    }
}

@-webkit-keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
    75% {
        -webkit-transform: scale(.9);
        transform: scale(.9)
    }
}

@keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
    75% {
        -webkit-transform: scale(.9);
        transform: scale(.9)
    }
}

.hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-box-shadow: 0 0 1px transparent;
    box-shadow: 0 0 1px transparent
}


/*@font-face {
    font-family: Merriweather;
    src: url(dist/fonts/Merriweather-Regular.eot);
    src: url(dist/fonts/Merriweather-Regular.woff2) format("woff2"), url(dist/fonts/Merriweather-Regular.woff) format("woff"), url(dist/fonts/Merriweather-Regular.ttf) format("truetype"), url(dist/fonts/Merriweather-Regular.svg#Merriweather-Regular) format("svg"), url(dist/fonts/Merriweather-Regulard41d.eot?#iefix) format("embedded-opentype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Merriweather;
    src: url(dist/fonts/Merriweather-Bold.eot);
    src: url(dist/fonts/Merriweather-Bold.woff2) format("woff2"), url(dist/fonts/Merriweather-Bold.woff) format("woff"), url(dist/fonts/Merriweather-Bold.ttf) format("truetype"), url(dist/fonts/Merriweather-Bold.svg#Merriweather-Bold) format("svg"), url(dist/fonts/Merriweather-Boldd41d.eot?#iefix) format("embedded-opentype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Montserrat;
    src: url(dist/fonts/Montserrat-Regular.eot);
    src: url(dist/fonts/Montserrat-Regular.woff2) format("woff2"), url(dist/fonts/Montserrat-Regular.woff) format("woff"), url(dist/fonts/Montserrat-Regular.ttf) format("truetype"), url(dist/fonts/Montserrat-Regular.svg#Montserrat-Regular) format("svg"), url(dist/fonts/Montserrat-Regulard41d.eot?#iefix) format("embedded-opentype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Montserrat;
    src: url(dist/fonts/Montserrat-Bold.eot);
    src: url(dist/fonts/Montserrat-Boldd41d.eot?#iefix) format("embedded-opentype"), url(dist/fonts/Montserrat-Bold.woff2) format("woff2"), url(dist/fonts/Montserrat-Bold.woff) format("woff"), url(dist/fonts/Montserrat-Bold.ttf) format("truetype"), url(dist/fonts/Montserrat-Bold.svg#Montserrat-Bold) format("svg");
    font-weight: 700;
    font-style: normal
}*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    -ms-content-zooming: none;
    -ms-scroll-chaining: none;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-shadow: 0 0 1px transparent;
    box-shadow: 0 0 1px transparent;
    -webkit-appearance: none;
    -moz-appearance: none
}

::-moz-selection {
    color: #fff;
    background: #0f1542
}

::selection {
    color: #fff;
    background: #0f1542
}

html {
    height: 100%
}

body {
    min-height: 100%
}

body,
html {
    min-width: 100%;
    max-width: 100%;
    /*font-family: Montserrat, Helvetica, Arial, sans-serif;*/
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #232832;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

a {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all .5s ease;
    transition: all .5s ease
}

textarea {
    -webkit-border-radius: 0;
    border-radius: 0;
    overflow: hidden;
    resize: none
}

input {
    -webkit-border-radius: 0;
    border-radius: 0;
    color: #232832
}

button,
input[type=submit] {
    cursor: pointer
}

button,
input,
select,
textarea {
    font: inherit
}

em,
i {
    font-style: italic
}

b,
strong {
    font-weight: 700
}

.clearfix:after {
    content: '';
    display: block;
    clear: both
}

.hidden {
    display: none
}

.text.text--gray * {
    color: #7a7a7a
}

.text * {
    font-size: 22px;
    line-height: 30px
}

@media screen and (max-width:1600px) {
    .text * {
        font-size: 14px;
        line-height: 25px
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /*font-family: Merriweather, Helvetica, Arial, sans-serif*/
    font-family: 'Open Sans', sans-serif;
}

.btn {
    margin-top: 140px;
    font-size: 25px;
    padding: 20px 50px;
    display: inline-block;
    background-color: #3116f8;
    color: #fff;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    z-index: 20;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.btn:hover {
    /*-webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite*/
    background-color: #424242;
}

.field--submit .bg,
.input--submit:hover {
    background-color: #424242;
}

@media screen and (max-width:1600px) {
    .btn {
        font-size: 16px;
        margin-top: 80px
    }
}

@media screen and (max-width:1024px) {
    .btn {
        font-size: 14px;
        margin-top: 30px
    }
}

.btn--left {
    margin-left: 0!important
}

.follow.blob {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #f4f44e;
    position: fixed;
    opacity: 0;
    z-index: 999;
    pointer-events: none;
    -webkit-transition: ease-in-out opacity .5s;
    transition: ease-in-out opacity .5s
}

.blob__container,
.hamburger:before {
    -webkit-transition: all .5s ease-in-out
}

@media screen and (max-width:768px) {
    .follow.blob {
        height: 0;
        z-index: -1!important;
        width: 0
    }
}

.blob__container {
    transition: all .5s ease-in-out;
    -webkit-animation: blob-turn linear 10s infinite;
    animation: blob-turn linear 10s infinite
}

.blobmain {
    opacity: 0;
    -webkit-transform: translate(0, -500px);
    -ms-transform: translate(0, -500px);
    transform: translate(0, -500px)
}

.blobmain.active {
    opacity: 1;
    -webkit-animation: blob-bounce ease 2.4s forwards;
    animation: blob-bounce ease 2.4s forwards
}

.blob.light--gray span {
    background-color: #f5f5f5
}

.blob span {
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: #f4f44e;
    position: absolute;
    display: block;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-border-radius: 50%;
    border-radius: 50%
}

.blob span:first-of-type {
    top: -2px;
    left: -2px;
    -webkit-animation: mytopdown linear 3s infinite;
    animation: mytopdown linear 3s infinite
}

.blob span:nth-of-type(2) {
    top: -2px;
    left: -2px;
    -webkit-animation: mydowntop linear 3s infinite;
    animation: mydowntop linear 3s infinite
}

.blob span:nth-of-type(3) {
    top: 2px;
    left: -2px;
    -webkit-animation: mytopleft linear 5s infinite;
    animation: mytopleft linear 5s infinite
}

.blob span:nth-of-type(4) {
    top: -2px;
    left: 2px;
    -webkit-border-radius: 45%;
    border-radius: 45%;
    -webkit-animation: mydownright linear 3s infinite;
    animation: mydownright linear 3s infinite
}

.blob span:nth-of-type(5) {
    top: -2px;
    left: -2px;
    -webkit-border-radius: 42%;
    border-radius: 42%;
    -webkit-animation: mytopright linear 4s infinite;
    animation: mytopright linear 4s infinite
}

.blob span:nth-of-type(6) {
    top: -2px;
    left: -2px;
    -webkit-border-radius: 47%;
    border-radius: 47%;
    -webkit-animation: mydownleft linear 4s infinite;
    animation: mydownleft linear 4s infinite
}

.blob.blob--small {
    -webkit-border-radius: 50%;
    border-radius: 50%
}

.blob.blob--small span {
    width: 26px;
    height: 26px
}

.blob.blob--big {
    width: 50px;
    height: 50px
}

.blob.blob--big span {
    width: 60px;
    height: 60px
}

@keyframes mytopdown {
    0% {
        top: 0;
        -webkit-transform: rotate(0) scale(1);
        transform: rotate(0) scale(1)
    }
    50% {
        top: 2px;
        -webkit-transform: rotate(180deg) scale(1.04);
        transform: rotate(180deg) scale(1.04)
    }
    100% {
        top: 0;
        -webkit-transform: rotate(360deg) scale(1);
        transform: rotate(360deg) scale(1)
    }
}

@keyframes mydowntop {
    0% {
        top: 0;
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    50% {
        top: -2px;
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg)
    }
    100% {
        top: 0;
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg)
    }
}

@keyframes mytopleft {
    0% {
        left: 0;
        top: 0;
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    50% {
        left: 2px;
        top: 2px;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg)
    }
    100% {
        left: 0;
        top: 0;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes mydownright {
    0% {
        left: 0;
        top: 0;
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    50% {
        left: -2px;
        top: -2px;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg)
    }
    100% {
        left: 0;
        top: 0;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes mytopright {
    0% {
        left: 0;
        top: 0;
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    50% {
        left: -2px;
        top: 2px;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg)
    }
    100% {
        left: 0;
        top: 0;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes mydownleft {
    0% {
        left: 0;
        top: 0;
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    50% {
        left: 2px;
        top: 2px;
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg)
    }
    100% {
        left: 0;
        top: 0;
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg)
    }
}

@keyframes myturn {
    0% {
        -webkit-transform: rotate(0) skewX(0);
        transform: rotate(0) skewX(0)
    }
    100% {
        -webkit-transform: rotate(-360deg) skewX(0);
        transform: rotate(-360deg) skewX(0)
    }
}

@-webkit-keyframes mytopdown {
    0% {
        top: 0;
        -webkit-transform: rotate(0) scale(1)
    }
    50% {
        top: 2px;
        -webkit-transform: rotate(180deg) scale(1.04)
    }
    100% {
        top: 0;
        -webkit-transform: rotate(360deg) scale(1)
    }
}

@-webkit-keyframes mydowntop {
    0% {
        top: 0;
        -webkit-transform: rotate(0)
    }
    50% {
        top: -2px;
        -webkit-transform: rotate(-180deg)
    }
    100% {
        top: 0;
        -webkit-transform: rotate(-360deg)
    }
}

@-webkit-keyframes mytopleft {
    0% {
        left: 0;
        top: 0;
        -webkit-transform: rotate(0)
    }
    50% {
        left: 2px;
        top: 2px;
        -webkit-transform: rotate(180deg)
    }
    100% {
        left: 0;
        top: 0;
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes mydownright {
    0% {
        left: 0;
        top: 0;
        -webkit-transform: rotate(0)
    }
    50% {
        left: -2px;
        top: -2px;
        -webkit-transform: rotate(180deg)
    }
    100% {
        left: 0;
        top: 0;
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes mytopright {
    0% {
        left: 0;
        top: 0;
        -webkit-transform: rotate(0)
    }
    50% {
        left: -2px;
        top: 2px;
        -webkit-transform: rotate(180deg)
    }
    100% {
        left: 0;
        top: 0;
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes mydownleft {
    0% {
        left: 0;
        top: 0;
        -webkit-transform: rotate(0)
    }
    50% {
        left: 2px;
        top: 2px;
        -webkit-transform: rotate(-180deg)
    }
    100% {
        left: 0;
        top: 0;
        -webkit-transform: rotate(-360deg)
    }
}

@-webkit-keyframes myturn {
    0% {
        -webkit-transform: rotate(0) skewX(0)
    }
    100% {
        -webkit-transform: rotate(-360deg) skewX(0)
    }
}

.hamburger {
    height: 22px;
    position: relative;
    padding-left: 115px;
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease
}

.hamburger:hover .line {
    background-color: #3116f8
}

.hamburger:hover:before {
    color: #3116f8
}

.hamburger.active .line:first-of-type {
    top: 9px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.hamburger.active .line:nth-of-type(2) {
    opacity: 0
}

.hamburger.active .line:last-of-type {
    top: 9px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.hamburger.active:hover,
.hamburger.active:hover:before {
    opacity: .8
}

.hamburger.active:before {
    content: 'Close'
}

@media screen and (max-width:768px) {
    .hamburger {
        padding-left: 95px
    }
}

@media screen and (max-width:320px) {
    .hamburger.active:before {
        content: none
    }
    .hamburger {
        padding-left: 30px
    }
}

.hamburger:before {
    content: 'Menu';
    font-family: 'Open Sans', sans-serif;
    color: #7a7a7a;
    font-size: 16px;
    left: 0;
    top: 3px;
    position: absolute;
    transition: all .5s ease-in-out
}

@media screen and (max-width:320px) {
    .hamburger:before {
        content: none
    }
}

.hamburger .line {
    height: 2px;
    width: 30px;
    position: absolute;
    right: 0;
    background-color: #7a7a7a;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.hamburger .line:first-of-type {
    top: 0
}

.hamburger .line:nth-of-type(2) {
    top: 10px
}

.hamburger .line:last-of-type {
    top: 20px
}

.loader {
    display: none;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-filter: url(#goo2);
    filter: url(#goo2);
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease
}

.loader span {
    width: 30px;
    height: 30px;
    margin: 5px 10px;
    background-color: #7a7a7a;
    -webkit-border-radius: 50%;
    border-radius: 50%
}

.loader span:first-of-type {
    -webkit-animation: 2s ajax1 .5s infinite;
    animation: 2s ajax1 .5s infinite
}

.loader span:last-of-type {
    -webkit-animation: 2s ajax2 .5s infinite;
    animation: 2s ajax2 .5s infinite
}

@-webkit-keyframes ajax1 {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    50% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px)
    }
}

@keyframes ajax1 {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    50% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px)
    }
}

@-webkit-keyframes ajax2 {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    50% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px)
    }
}

@keyframes ajax2 {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    50% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px)
    }
}

form {
    width: 420px;
    margin-top: 50px;
    position: relative
}

@media screen and (max-width:1024px) {
    form {
        width: 300px
    }
}

@media screen and (max-width:768px) {
    form {
        margin-top: 20px;
        width: 550px
    }
}

@media screen and (max-width:600px) {
    form {
        width: 400px
    }
}

@media screen and (max-width:420px) {
    form {
        width: 270px
    }
}

form .input--error+label .error--text {
    opacity: 1
}

form .abs {
    position: absolute;
    top: 80%;
    left: 0;
    right: 0;
}

@media screen and (max-width:1024px) {
    form .abs {
        position: relative
    }
}

@media screen and (max-width:768px) {
    form .abs {
        position: static;
        display: none
    }
}

form .error--text {
    font-size: 10px;
    position: absolute;
    left: 0;
    top: 10px;
    color: #f31878;
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease
}

.field--text {
    position: relative
}

.field--text .placeholder {
    width: 100%;
    font-size: 25px;
    line-height: 45px;
    color: #fff;
    position: absolute;
    bottom: 45px;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 1;
    -webkit-transition: all .3s;
    transition: all .3s
}

@media screen and (max-width:1024px) {
    .field--text .placeholder {
        font-size: 20px
    }
}

@media screen and (max-width:768px) {
    .field--text .placeholder {
        font-size: 18px
    }
}

.field--privacy,
.field--privacy a {
    font-family: 'Roboto', sans-serif;
    font-size: 12px!important;
    line-height: 18px!important
}

.field--text label {
    position: relative;
    display: block;
    padding: 5px 15px;
    color: #fff;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.field--text label .label__content {
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

.field--text label:after,
.field--text label:before {
    content: '';
    position: absolute;
    left: 0;
    z-index: 0
}

.input--text,
.text--underline {
    position: relative
}

.field--text label:before {
    bottom: 100%;
    width: 100%;
    height: 45px;
    background: #2f15eb;
    -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition: -webkit-transform .3s .15s;
    transition: -webkit-transform .3s .15s;
    transition: transform .3s .15s;
    transition: transform .3s .15s, -webkit-transform .3s .15s
}

.field--text label:after {
    top: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.field--text.input--high textarea {
    height: 100px;
    overflow: auto;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

#scenes,
.input--submit {
    -webkit-transition: ease opacity .5s
}

@media screen and (max-width:1366px) {
    .field--text.input--high textarea {
        height: 50px
    }
}

.field--text.input--high label:before {
    height: 100px
}

@media screen and (max-width:1366px) {
    .field--text.input--high label:before {
        height: 50px
    }
}

.field--privacy {
    font-weight: 400;
    margin: 25px 0 50px;
    color: #fff
}

.field--privacy a {
    font-weight: 700;
    text-decoration: underline
}

@media screen and (min-width:1366px) {
    .input--high .placeholder {
        top: 45px
    }
}

@media screen and (max-width:768px) and (orientation:portrait) {
    .input--high .placeholder {
        top: 0
    }
}

.field--text.focus .placeholder {
    opacity: 0;
    margin-top: 20px
}

.field--text.focus label .label__content {
    opacity: 1
}

.input--text {
    border: none;
    width: 100%;
    color: #fff;
    background-color: transparent;
    padding: 12px;
    z-index: 5;
    display: block
}

.input--text.input--error+label {
    color: #f31878
}

.input--text.input--error+label:after {
    background-color: #f31878
}

.field--submit .bg,
.input--submit {
    background-color: #7a7a7a
}

.input--text:focus+label:before {
    -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
    transform: perspective(1000px) rotate3d(1, 0, 0, 0deg)
}

.field--submit {
    margin: 20px auto 0
}

@media screen and (max-width:768px) {
    .field--submit {
        margin: 20px auto 0
    }
}

.field--submit .btn {
    padding: 0;
    position: relative;
    margin-top: 0
}

.input--submit {
    padding: 20px 50px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 16px!important;
    line-height: initial!important;
    border: none;
    transition: ease opacity .5s
}

.section--full:first-of-type .text,
.text--big,
tspan {
    font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width:768px) {
    .input--submit {
        font-size: 16px
    }
}

.input--submit:disabled {
    opacity: .4;
    pointer-events: none;
    cursor: default
}

.logo,
.site--header.visible .hamburger {
    cursor: pointer
}

.label--small {
    font-size: 14px
}

.response {
    font-size: 12px;
    margin: 20px 0 20px -60px;
    width: -webkit-calc(100% + 120px);
    width: calc(100% + 120px)
}

@media screen and (max-width:768px) {
    .response {
        width: 100%;
        margin: 20px 0
    }
}

.response__ok {
    color: #7a7a7a;
    display: none
}

.response__error {
    color: #f31878;
    display: none
}

.disabled .btn .bg {
    display: none
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex
}

.flex--vcenter {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.flex--hcenter {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.flex--row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
}

.flex--column,
.rooms .section__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal
}

.flex--column {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.flex--wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.left {
    float: left
}

.right {
    float: right
}

.half {
    width: 50%
}

.clear {
    clear: both
}

body {
    overflow: hidden
}

svg {
    overflow: visible
}

.h1--texts,
.logo,
.popup {
    overflow: hidden
}

.section h1 {
    color: #0f1542;
    font-size: 150px
}

@media screen and (max-width:1600px),
(max-width:1600px) and (max-height:860px) {
    .section h1 {
        font-size: 80px
    }
}

@media screen and (max-width:1440px),
(max-width:1440px) and (max-height:860px) {
    .section h1 {
        font-size: 60px
    }
}

@media screen and (max-width:1024px) {
    .section h1 {
        font-size: 36px
    }
}

.section.section--full {
    height: 100vh
}

.section.section--full .section__wrapper {
    height: 100%
}

.section.section--fixed {
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out
}

.section.hide {
    opacity: 0
}

.visible {
    opacity: 1!important
}

.text--small {
    font-size: 24px;
    line-height: 30px
}

@media screen and (max-width:1366px) {
    .text--small {
        font-size: 16px;
        line-height: 22px
    }
}

@media screen and (max-width:768px) {
    .half {
        width: 100%;
        float: none!important
    }
    .text--small {
        font-size: 12px;
        line-height: 18px
    }
}

.text--small p {
    margin-bottom: 20px
}

.text--small p:last-of-type {
    margin-bottom: 0
}

.text--medium * {
    font-size: 18px;
    line-height: 24px
}

@media screen and (max-width:1366px) {
    .text--medium * {
        font-size: 14px;
        line-height: 22px
    }
}

.text--big * {
    font-size: 20px;
    line-height: 35px
}

@media screen and (max-width:1366px) {
    .text--big * {
        font-size: 16px;
        line-height: 28px
    }
}

.right.half.flex.flex--hcenter.flex--vcenter.flex--column .title.text--small {
    font-size: 20px;
    font-weight: 500;
}

.text--underline:hover:after {
    background-color: #0f1542;
    width: 100%
}

.text--underline:before {
    width: 100%
}

.text--underline:after {
    width: 0
}

.text--underline:after,
.text--underline:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 3px;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.margin--small {
    margin-bottom: 20px
}

.text--white {
    color: #fff
}

.pos--rel {
    position: relative;
    z-index: 3
}

.section__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px
}

@media screen and (max-width:1600px) {
    .section__wrapper {
        max-width: 1160px
    }
}

.text--blue {
    color: #3116f8
}

.site--header {
    position: fixed;
    max-width: 100%;
    z-index: 70;
    top: 60px;
    left: 60px;
    right: 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease
}

@media screen and (max-width:1440px) {
    .site--header {
        left: 30px;
        top: 30px;
        right: 30px
    }
}

@media screen and (max-width:768px) {
    .site--header {
        left: 15px;
        top: 20px;
        right: 15px
    }
}

.site--header.color--white .logo:hover {
    opacity: .8
}

.site--header.color--white .logo path {
    fill: #f5f5f5
}

.logo:hover .logo__txt path,
.logo:hover path {
    fill: #7a7a7a
}

.site--header.color--white .hamburger {
    margin-left: auto;
    margin-right: 0
}

.site--header.color--white .hamburger:before {
    color: #f5f5f5
}

.popup,
.popup a,
.popup li {
    color: #fff
}

.site--header.color--white .hamburger .line {
    background-color: #f5f5f5
}

.logo {
    height: 60px
}

.logo svg:nth-of-type(2) {
    margin-left: 5px;
    opacity: 0;
    -ms-transform: translateX(-80%);
    -webkit-transform: translateX(-80%);
    transform: translateX(-80%);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.logo:hover svg:nth-of-type(2) {
    opacity: 1;
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

.logo:hover .logo__txt {
    opacity: 1;
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

.logo g,
.logo path {
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.logo .logo__signet,
.logo .logo__txt {
    -webkit-transition: all .5s ease-in-out
}

.logo .logo__signet {
    background-color: #fff;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    cursor: pointer;
    transition: all .5s ease-in-out
}

.logo .logo__txt {
    opacity: 0;
    -ms-transform: translateX(-80%);
    -webkit-transform: translateX(-80%);
    transform: translateX(-80%);
    transition: all .5s ease-in-out
}

.h1--texts {
    position: relative;
    height: 170px;
    line-height: 150px;
    margin: 90px 0 70px;
    opacity: 0;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.h1--texts.active {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

@media screen and (max-width:1600px) {
    .h1--texts {
        height: 95px;
        line-height: 90px;
        margin: 50px 0 30px
    }
}

@media screen and (max-width:1024px) {
    .h1--texts {
        height: 41px;
        line-height: 36px;
        margin: 60px 0 30px
    }
}

.h1--texts .text__wrapper {
    overflow: hidden;
    height: 150px
}

@media screen and (max-width:1600px) {
    .h1--texts .text__wrapper {
        height: 80px
    }
}

@media screen and (max-width:1024px) {
    .h1--texts .text__wrapper {
        height: 36px
    }
}

.h1--texts .text__word {
    position: relative;
    width: 100%;
    display: block;
    margin-bottom: 20px;
    text-align: center;
    height: 150px
}

.bg__ie,
.firefox #splash,
.ie #splash,
.splash_ie {
    display: none
}

@media screen and (max-width:1600px) {
    .h1--texts .text__word {
        height: 80px
    }
}

.section--full:first-of-type .text {
    opacity: 0;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.section--full:first-of-type .text.active {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

.section--full:first-of-type .btncont {
    position: relative;
    z-index: 20;
    opacity: 0;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

#splash,
.bg__ie,
.splash_ie {
    position: fixed;
    left: 0;
    top: 0
}

.section--full:first-of-type .btncont.active {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

@media (min-width:0px) and (orientation:landscape) {
    #contact,
    #navigation,
    #splash {
        width: 100%
    }
}

@media (min-width:0px) and (orientation:portrait) {
    #contact,
    #navigation,
    #splash {
        width: 100vh
    }
}

.bg__ie,
.splash_ie {
    height: 100vh;
    width: 100%;
    background-color: #3116f8;
    -webkit-transition: all 1s ease;
    transition: all 1s ease
}

.bg__ie.active,
.splash_ie.active {
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%)
}

.splash_ie {
    z-index: 52;
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
}

.bg__ie {
    z-index: -1
}

#splash {
    right: 0;
    bottom: 0;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

#contact,
#navigation {
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 5;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

#contact {
    left: 0
}

.firefox .splash_ie,
.ie .splash_ie {
    display: block
}

.splash_1,
.splash_4,
.splash_7 {
    fill: #266e91;
}

.splash_3,
.splash_6 {
    fill: #0f1542
}

.splash_9 {
    fill: #266e91;
}

.splash_2,
.splash_5,
.splash_8 {
    fill: #22b2ff;
}

.popup {
    position: absolute;
    top: 0;
    height: 100vh;
    max-width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    backface-visibility: hidden;
    z-index: 60
}

.popup.active .title {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0
}

@media screen and (max-width:768px) {
    .popup.active {
        overflow-y: scroll;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar
    }
    .popup.active .title {
        position: static;
        margin-bottom: 0
    }
}

.popup svg {
    z-index: 10
}

.popup .popup__parts {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 7;
    height: 100vh;
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease
}

@media screen and (max-width:768px) {
    .popup .popup__parts {
        display: none;
        position: absolute
    }
    .popup {
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: stretch;
        -webkit-justify-content: stretch;
        -ms-flex-pack: stretch;
        justify-content: stretch
    }
}

.popup .popup__parts.active {
    opacity: 1
}

.popup .popup__parts:after,
.popup .popup__parts:before {
    content: '';
    width: 50%;
    top: 0;
    height: 100%;
    position: absolute
}

.popup .half,
.popup .left,
.popup>.flex {
    position: relative
}

.popup .popup__parts:before {
    left: 0;
    background-color: #fff;
}

.popup .popup__parts:after {
    left: 50%;
    background-color: #266e91;
}

.popup>.flex {
    min-height: 420px;
    opacity: 0;
    width: 100%;
    height: 100%;
    margin-top: 30px;
    z-index: 7;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all .5s ease;
    transition: all .5s ease
}

@media screen and (max-width:768px) {
    .popup>.flex {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 0;
        height: auto;
        min-height: 100%;
        overflow: auto
    }
    .popup>.flex .left {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        background-color: #22b2ff;
        padding-top: 80px
    }
    .popup>.flex .right {
        -webkit-box-flex: 2;
        -webkit-flex: 2;
        -ms-flex: 2;
        flex: 2;
        margin-top: 0;
        background-color: #266e91;
        padding-top: 60px
    }
}

.popup .right {
    margin-top: 25px
}

.popup .half {
    padding: 0 20px
}

.popup ul {
    margin-bottom: 58px
}

@media screen and (max-width:768px) {
    .popup .half {
        padding: 30px 20px
    }
    .popup ul {
        margin-bottom: 0
    }
}

.popup .popup__container {
    margin-bottom: auto;
    margin-top: 10px
}

@media screen and (max-width:768px) {
    .popup .popup__container {
        margin-bottom: 0
    }
}

.popup .left ul {
    margin-bottom: 50px
}

.popup li {
    line-height: 44px;
    font-size: 42px
}

@media screen and (max-width:1440px) {
    .popup li {
        font-size: 34px;
        line-height: 31px
    }
}

@media screen and (max-width:1366px) {
    .popup li {
        font-size: 32px;
        line-height: 31px
    }
}

@media screen and (max-width:1024px),
screen and (min-width:1025px) and (max-height:500px) {
    .popup li {
        font-size: 32px;
        line-height: 31px
    }
}

@media screen and (max-width:768px) {
    .popup .left ul {
        margin-bottom: 20px
    }
    .popup li {
        font-size: 26px;
        line-height: 30px
    }
}

@media screen and (max-width:400px) {
    .popup li {
        font-size: 18px;
        line-height: 24px
    }
}

.popup li a:hover {
    color: #0f1542
}

.popup ul {
    list-style-type: none;
    margin-top: 50px
}

@media screen and (max-width:768px) {
    .popup ul {
        margin-top: 20px
    }
    /* .popup svg {
        display: none
    } */
}

.copy {
    z-index: 20;
    margin-left: 45px;
    position: fixed;
    bottom: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 16px;
    left: 25%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

@media screen and (max-width:1024px) {
    .copy {
        position: static;
        margin-top: 40px;
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@media screen and (max-width:768px) {
    .copy svg {
        display: inline-block
    }
}

.copy g,
.copy path {
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.copy:hover g,
.copy:hover path {
    fill: #7a7a7a
}

.copy .logo {
    height: 24px;
    cursor: default
}

.copy svg {
    margin-left: 10px;
    height: 22px;
    width: 90px
}

.socials a {
    display: inline-block;
    padding: 5px;
    margin: 0 15px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease
}

.socials a svg {
    fill: #fff;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.socials a:hover svg {
    fill: #3116f8
}

@media screen and (max-width:1366px) {
    .copy {
        font-size: 12px
    }
    .socials svg {
        width: 26px;
        height: 26px
    }
}

@media screen and (max-width:1024px) {
    .socials a {
        margin: 0 5px
    }
    .socials svg {
        width: 24px;
        height: 24px
    }
}

.contact .socials a:hover svg {
    fill: #7a7a7a
}

.rooms {
    position: absolute;
    display: none;
    top: 0;
    padding-top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    -webkit-transition-delay: .4s;
    transition-delay: .4s
}

.rooms.active,
.rooms.active .text {
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0)
}

.rooms svg text {
    pointer-events: none
}

.rooms.active {
    transform: translateY(0)
}

.rooms.active svg {
    opacity: 1
}

.rooms.active .text {
    opacity: 1;
    transform: translateY(0)
}

.rooms .section__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
    font-family: 'Open Sans', sans-serif;
}

.rooms svg {
    opacity: 0;
    margin-bottom: 50px;
    max-width: 100%;
    width: 100%;
    height: auto;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease
}

.rooms .layer--main {
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    cursor: pointer
}

.rooms .layer--hidden {
    display: none
}

.rooms .layer--active {
    cursor: pointer
}

#jsRooms {
    overflow-y: scroll
}

@media screen and (min-width:767px) and (max-width:1024px) and (orientation:portrait) {
    #jsRooms .section__wrapper {
        display: block;
        left: 0;
        padding: 0
    }
}

@media screen and (max-width:767px) {
    #jsRooms .section__wrapper {
        display: block;
        left: 0;
        padding: 0
    }
}

#jsRooms .view {
    display: none;
    width: 100%
}

@media screen and (min-width:1400px) {
    #jsRooms .view.view_pc {
        width: 110%
    }
}

@media screen and (min-width:1600px) {
    #jsRooms .view.view_pc {
        width: 115%
    }
}

@media screen and (min-width:1024px) {
    #jsRooms .view.view_pc {
        display: block
    }
}

@media screen and (min-width:767px) and (max-width:1024px) and (orientation:landscape) {
    #jsRooms .view.view_tablet_landscape {
        display: block
    }
}

@media screen and (min-width:767px) and (max-width:1024px) and (orientation:portrait) {
    #jsRooms .view.view_tablet_portrait {
        display: block;
        width: 100%
    }
}

@media screen and (max-width:767px) {
    #jsRooms .view.view_phone {
        display: block;
        width: 100%
    }
}

#jsRooms .view_mobile .header {
    max-width: 300px;
    color: transparent;
    padding: 50px 20px;
    margin: 0 auto
}

#jsRooms .view_mobile .bt {
    display: block;
    position: relative;
    margin-bottom: 70px
}

#jsRooms .view_mobile .bt .desc {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #0f1542;
    position: absolute;
    top: 0;
    z-index: 1
}

@media screen and (max-width:768px) {
    #jsRooms .view_mobile .bt .desc {
        font-size: 50px;
        line-height: 55px
    }
}

@media screen and (max-width:576px) {
    #jsRooms .view_mobile .bt .desc {
        font-size: 25px;
        line-height: 30px
    }
}

#jsRooms .view_mobile .bt img {
    width: 100%;
    height: auto
}

#jsRooms .view_mobile .bt.character-design .desc {
    left: 20px;
    text-align: left
}

#jsRooms .view_mobile .bt.video-explainer .desc {
    top: -20px;
    left: -webkit-calc(20px + 40%);
    left: calc(0px + 40%);
    text-align: left
}

#jsRooms .view_mobile .bt.infographic .desc {
    top: -40px;
    left: 40px;
    text-align: left
}

#jsRooms .view_mobile .bt.micro-animation .desc {
    top: -20px;
    left: -webkit-calc(20px + 40%);
    left: calc(20px + 40%);
    text-align: left
}

#jsRooms .view_mobile .bt.all-in .desc {
    left: 150px;
    text-align: left
}

#jsRooms .view_mobile .bottom {
    margin-top: 50px
}

#jsRooms .view_mobile .bottom svg {
    display: block;
    margin: 0
}

#jsRooms .view_mobile .bottom .in {
    background: #eba5bd;
    padding: 20px 40px
}

#jsRooms .view_mobile .bottom .more {
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px
}

#jsRooms .view_mobile .bottom li {
    list-style: none
}

#jsRooms .view_mobile .bottom li a {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #fff;
    text-align: center
}

@media screen and (max-width:768px) {
    #jsRooms .view_mobile .bottom li a {
        font-size: 50px;
        line-height: 55px;
        padding: 20px 0
    }
}

@media screen and (max-width:576px) {
    #jsRooms .view_mobile .bottom li a {
        font-size: 25px;
        line-height: 30px;
        padding: 5px 0
    }
}

#jsRooms .view_mobile .bottom li a:hover {
    color: #0f1542
}

#jsRooms .view_mobile .bottom .socials {
    margin: 20px auto 0;
    text-align: center
}

#jsRooms .view_mobile .bottom .socials a svg {
    width: 20px;
    height: 20px
}

#scenes {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    bottom: 0;
    overflow: hidden;
    height: 100%;
    opacity: 0;
    transition: ease opacity .5s;
    -webkit-transition-delay: 1s;
    transition-delay: 1s
}

#scenes.visible {
    opacity: 1
}

#scenes .section__wrapper {
    max-width: 100%!important;
    position: relative;
    padding: 0!important;
    height: auto
}

#scenes .bx-viewport {
    overflow: visible!important
}

#scenes .bx-wrapper {
    margin: auto
}

@media screen and (min-width:1600px) {
    #scenes .bx-wrapper {
        max-width: 1420px!important
    }
}

@media screen and (min-width:1800px) {
    #scenes .bx-wrapper {
        max-width: 1600px!important
    }
}

@media screen and (max-width:1600px) {
    #scenes .bx-wrapper {
        max-width: 1160px!important
    }
}

@media screen and (max-width:1200px) {
    #scenes .bx-wrapper {
        max-width: 100%!important
    }
}

#scenes .scene {
    background-color: #fff;
    display: none;
    padding: 0 20px;
    height: 100vh;
    overflow: hidden
}

#scenes .scene.active {
    z-index: 51!important;
    overflow: visible
}

#scenes .btn {
    margin: 0 auto 100px;
    text-align: center;
    display: none
}

@media screen and (max-width:768px) {
    #scenes .scene.active {
        overflow-y: scroll;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar
    }
    #scenes .scene {
        overflow-y: scroll;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar
    }
    #scenes .btn {
        display: inline-block
    }
    #scenes .half {
        width: 100%;
        padding: 0!important
    }
}

#scenes .btn--show {
    display: table
}

#scenes .half:first-of-type {
    padding-right: 20px
}

@media screen and (max-width:768px) {
    #scenes .half:first-of-type {
        -webkit-box-ordinal-group: 5;
        -webkit-order: 4;
        -ms-flex-order: 4;
        order: 4
    }
}

#scenes .half:last-of-type {
    padding-left: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

#scenes .scene__inner {
    height: 100%;
    position: relative
}

#scenes h1 {
    margin-bottom: 80px;
    font-weight: 700
}

@media screen and (max-width:1440px) {
    #scenes h1 {
        font-size: 40px;
        margin-bottom: 40px
    }
}

@media screen and (max-width:1024px) {
    #scenes h1 {
        font-size: 36px;
        margin-bottom: 30px
    }
}

@media screen and (max-width:768px) {
    #scenes .half:last-of-type {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
        min-height: 200px
    }
    #scenes .scene__inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-top: 100px;
        background: 0 0;
        height: auto;
        padding-bottom: 50px
    }
    #scenes h1 br {
        display: none
    }
}

@media screen and (min-width:1440px) {
    #scenes .to__svg svg {
        height: 70vh!important
    }
}

#scenes .text {
    opacity: 1;
    color: #7a7a7a;
    /*font-family: 'Open Sans', sans-serif;*/
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

@media screen and (max-width:768px) {
    #scenes .text {
        padding-bottom: 30px
    }
}

#scenes .fixed.name {
    position: fixed;
    bottom: 0;
    z-index: 9999;
    padding: 15px 0;
    left: 60px;
    right: 60px;
    text-align: center;
    display: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #0f1542
}

@media screen and (min-width:1024px) and (max-width:1440px) {
    #anim_character_design svg {
        width: 500px!important;
        height: 510px!important
    }
    #anim_video_explainer svg {
        width: 500px!important;
        height: 560px!important
    }
    #anim_infographic svg {
        width: 500px!important;
        height: 670px!important
    }
    #anim_all_in svg,
    #anim_micro_animation svg {
        width: 500px!important;
        height: 750px!important
    }
}

@media screen and (max-width:768px) {
    #scenes .fixed.name {
        display: block
    }
    #anim_character_design svg {
        width: 200px!important;
        height: 210px!important
    }
    #anim_video_explainer svg {
        width: 200px!important;
        height: 380px!important
    }
    #anim_infographic svg {
        width: 200px!important;
        height: 265px!important
    }
    #anim_all_in svg,
    #anim_micro_animation svg {
        width: 200px!important;
        height: 300px!important
    }
}

.ie_safari .scene .blobs {
    -webkit-filter: none;
    filter: none
}

.scene .blob {
    opacity: 0
}

.scene.active .blob {
    opacity: 1
}

.scene svg {
    z-index: 20;
    position: relative
}

.scene .blobs {
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
    -webkit-transition: ease opacity .5s;
    transition: ease opacity .5s
}

@media screen and (max-width:768px) {
    .scene .blobs {
        position: fixed
    }
}

.scene .blob {
    position: absolute;
    z-index: -1
}

.scene .blob:first-of-type {
    top: 50%;
    right: 250px
}

.scene .blob:first-of-type span {
    width: 250px;
    height: 250px
}

.scene .blob:nth-of-type(2) {
    top: 20px;
    left: 40px
}

.scene .blob:nth-of-type(2) span {
    width: 150px;
    height: 150px
}

.scene .blob:nth-of-type(3) {
    top: 30%;
    right: 80px;
    -webkit-animation: blob-room-1 linear 20s infinite;
    animation: blob-room-1 linear 20s infinite
}

.scene .blob:nth-of-type(3) span {
    width: 80px;
    height: 80px
}

.scene .half {
    position: relative
}

.scene.section_video_explainer .blob:first-of-type {
    top: 70%;
    right: 60px
}

.scene.section_video_explainer .blob:first-of-type span {
    width: 60px;
    height: 60px
}

.scene.section_video_explainer .blob:nth-of-type(2) {
    top: 100px;
    left: 90px
}

.scene.section_video_explainer .blob:nth-of-type(2) span {
    width: 220px;
    height: 220px
}

.scene.section_video_explainer .blob:nth-of-type(3) {
    top: 40%;
    right: 150px;
    -webkit-animation: blob-room-2 linear 20s infinite;
    animation: blob-room-2 linear 20s infinite
}

.scene.section_video_explainer .blob:nth-of-type(3) span {
    width: 150px;
    height: 150px
}

.scene.section_infographic .blobs {
    -ms-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1)
}

.scene.section_micro_animation .blob:first-of-type {
    top: 20%;
    right: 40px
}

.scene.section_micro_animation .blob:first-of-type span {
    width: 200px;
    height: 200px
}

.scene.section_micro_animation .blob:nth-of-type(2) {
    top: 30%;
    left: 10%
}

.scene.section_micro_animation .blob:nth-of-type(2) span {
    width: 180px;
    height: 180px
}

.scene.section_micro_animation .blob:nth-of-type(3) {
    top: 50%;
    right: 40px;
    -webkit-animation: blob-room-3 linear 24s infinite;
    animation: blob-room-3 linear 24s infinite
}

.scene.section_micro_animation .blob:nth-of-type(3) span {
    width: 40px;
    height: 40px
}

#scenes .section_portfolio svg {
    max-height: 100%!important
}

#scenes .section_portfolio .step {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    position: absolute;
    top: 0;
    left: 15px
}

#scenes .section_portfolio .step.active {
    opacity: 1;
    pointer-events: all
}

@media screen and (max-width:768px) {
    #scenes .section_portfolio .step {
        display: none;
        width: 100%;
        opacity: 1;
        position: relative;
        left: 0;
        height: auto;
        padding: 60px 0 0
    }
    #scenes .section_portfolio .step .scene__inner {
        padding: 0
    }
    #scenes .section_portfolio .step.active {
        display: block
    }
}

#scenes .section_portfolio .bottom-left {
    position: fixed;
    z-index: 2
}

@media screen and (min-width:1440px) {
    #scenes .section_portfolio .bottom-left {
        bottom: 80px;
        left: 65px
    }
}

@media screen and (max-width:1440px) and (min-width:768px) {
    #scenes .section_portfolio .bottom-left {
        bottom: 50px;
        left: 65px
    }
}

@media screen and (max-width:768px) {
    #scenes .section_portfolio .bottom-left {
        position: relative;
        bottom: 0;
        left: 0;
        padding-top: 20px;
        padding-bottom: 140px
    }
}

#scenes .section_portfolio .bottom-left .back_to_home:before {
    pointer-events: none;
    content: ' ';
    display: inline-block;
    width: 13px;
    height: 22px;
    background-position: 0 50%;
    background-image: url(dist/img/icons/arrow_left.svg);
    -webkit-transition: ease background-position .5s;
    transition: ease background-position .5s;
    padding: 0 10px 0 0
}

#scenes .section_portfolio .bottom-left .back_to_home span {
    font-size: 25px;
    font-weight: 700;
    color: #2a11de
}

#scenes .section_portfolio .bottom-left .back_to_home:hover span {
    color: #3116f8
}

#scenes .section_portfolio .step1 .portfolio-navigantion {
    position: absolute;
    top: 12vh;
    left: 0
}

@media screen and (max-width:768px) {
    #scenes .section_portfolio .bottom-left .back_to_home span {
        font-size: 14px
    }
    #scenes .section_portfolio .bottom-left .back_to_home:before {
        width: 6px;
        height: 11px
    }
    #scenes .section_portfolio .step1 .portfolio-navigantion {
        position: relative;
        top: 0
    }
}

#scenes .section_portfolio .step1 .portfolio-navigantion h1 {
    font-size: 150px;
    float: left;
    margin: 0 60px 0 0!important
}

@media screen and (max-width:1600px),
(max-width:1600px) and (max-height:860px) {
    #scenes .section_portfolio .step1 .portfolio-navigantion h1 {
        font-size: 100px!important;
        margin: 0 40px 0 0!important
    }
}

@media screen and (max-width:1440px),
(max-width:1440px) and (max-height:860px) {
    #scenes .section_portfolio .step1 .portfolio-navigantion h1 {
        font-size: 40px!important;
        margin: 40px 20px 0 0!important
    }
}

@media screen and (max-width:1024px) {
    #scenes .section_portfolio .step1 .portfolio-navigantion h1 {
        font-size: 60px!important;
        margin: 0!important
    }
}

@media screen and (max-width:768px) {
    #scenes .section_portfolio .step1 .portfolio-navigantion h1 {
        font-size: 36px!important;
        margin: 0 0 30px!important;
        float: none
    }
}

#scenes .section_portfolio .step1 .portfolio-navigantion .categories {
    float: left;
    padding-top: 115px;
    position: relative;
    z-index: 2
}

#scenes .section_portfolio .step1 .portfolio-navigantion .categories a {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #7a7a7a;
    margin: 0 20px
}

#scenes .section_portfolio .step1 .portfolio-navigantion .categories a.active,
#scenes .section_portfolio .step1 .portfolio-navigantion .categories a:hover {
    color: #3116f8
}

#scenes .section_portfolio .step1 .portfolio-slider {
    width: 100vw;
    height: -webkit-calc(85vh - 180px - 200px);
    height: calc(85vh - 180px - 200px);
    position: relative;
    top: 90px
}

@media screen and (max-width:1600px),
(max-width:1600px) and (max-height:860px) {
    #scenes .section_portfolio .step1 .portfolio-navigantion .categories {
        padding-top: 75px
    }
    #scenes .section_portfolio .step1 .portfolio-slider {
        height: -webkit-calc(85vh - 100px - 200px);
        height: calc(85vh - 100px - 200px);
        top: 50px
    }
}

@media screen and (max-width:1440px),
(max-width:1440px) and (max-height:860px) {
    #scenes .section_portfolio .step1 .portfolio-navigantion .categories {
        padding-top: 55px
    }
    #scenes .section_portfolio .step1 .portfolio-slider {
        height: -webkit-calc(85vh - 80px - 200px);
        height: calc(85vh - 80px - 200px);
        top: 40px
    }
}

@media screen and (max-width:1024px) {
    #scenes .section_portfolio .step1 .portfolio-navigantion .categories {
        padding-top: 40px
    }
    #scenes .section_portfolio .step1 .portfolio-slider {
        height: -webkit-calc(85vh - 60px - 200px);
        height: calc(85vh - 60px - 200px);
        top: 30px
    }
}

#scenes .section_portfolio .step1 .portfolio-slider * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

@media screen and (max-width:768px) {
    #scenes .section_portfolio .step1 .portfolio-navigantion .categories {
        padding-top: 0;
        float: none
    }
    #scenes .section_portfolio .step1 .portfolio-navigantion .categories a {
        display: inline-block;
        margin: 0 15px 10px 0
    }
    #scenes .section_portfolio .step1 .portfolio-slider {
        height: auto;
        top: 0;
        margin-bottom: 40px
    }
    #scenes .section_portfolio .step1 .portfolio-slider .slick-list {
        padding: 0 15px!important
    }
    #scenes .section_portfolio .step1 .portfolio-slider .slick-track {
        width: 100%!important;
        -webkit-transform: none!important;
        -ms-transform: none!important;
        transform: none!important
    }
}

#scenes .section_portfolio .step1 .portfolio-slider .slide {
    width: 50vw;
    height: 100px;
    position: relative;
    float: left;
    margin: 0 50px;
    cursor: pointer
}

@media screen and (max-width:768px) {
    #scenes .section_portfolio .step1 .portfolio-slider .slide {
        width: 100%!important;
        height: auto!important;
        margin: 20px auto 0;
        float: none
    }
}

#scenes .section_portfolio .step1 .portfolio-slider .slide .cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

@media screen and (max-width:768px) {
    #scenes .section_portfolio .step1 .portfolio-slider .slide .cover {
        width: 100%!important;
        height: auto!important;
        padding-top: 56%;
        position: relative!important;
        margin-bottom: 20px
    }
}

#scenes .section_portfolio .step1 .portfolio-slider .slide .title__container {
    position: absolute;
    bottom: 15%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out, margin .35s ease-in-out;
    transition: opacity .5s ease-in-out, margin .35s ease-in-out;
    margin-bottom: -20px
}

@media screen and (max-width:768px) {
    #scenes .section_portfolio .step1 .portfolio-slider .slide .title__container {
        width: 100%;
        position: relative;
        bottom: 0;
        left: 0;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        text-align: center;
        margin-bottom: 0;
        opacity: 1
    }
}

#scenes .section_portfolio .step1 .portfolio-slider .slide .title__container .title {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: center
}

#scenes .section_portfolio .step1 .portfolio-slider .slide .title__container .subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    color: black;
}

#scenes .section_portfolio .step1 .portfolio-slider .slide .hover {
    width: 30%;
    max-width: 150px;
    height: 30%;
    max-height: 150px;
    background: url(dist/img/static/play.svg) center center no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%)
}

#scenes .section_portfolio .step1 .slick-controls a.slick-next:hover,
#scenes .section_portfolio .step1 .slick-controls a.slick-prev:hover {
    background-color: #3116f8
}

#scenes .section_portfolio .step1 .portfolio-slider .slide:hover .cover {
    opacity: .22
}

#scenes .section_portfolio .step1 .portfolio-slider .slide:hover .title__container {
    opacity: 1;
    margin-bottom: 0
}

#scenes .section_portfolio .step1 .portfolio-slider .slide:hover .hover {
    opacity: 1
}

#scenes .section_portfolio .step1 .slick-controls {
    position: absolute;
    text-align: center;
    left: 60px;
    right: 60px;
    z-index: 54
}

@media screen and (min-width:1440px) {
    #scenes .section_portfolio .step1 .slick-controls {
        bottom: 60px
    }
}

@media screen and (max-width:1440px) and (min-width:768px) {
    #scenes .section_portfolio .step1 .slick-controls {
        left: 30px;
        bottom: 30px;
        right: 30px
    }
}

@media screen and (max-width:768px) {
    #scenes .section_portfolio .step1 .portfolio-slider .slide .hover {
        margin-top: -40px
    }
    #scenes .section_portfolio .step1 .portfolio-slider .slide.slick-cloned {
        display: none!important
    }
    #scenes .section_portfolio .step1 .slick-controls {
        display: none
    }
}

#scenes .section_portfolio .step1 .slick-controls .slick-controls-direction {
    width: 1px;
    position: relative;
    height: 70px;
    margin: auto
}

@media screen and (max-width:1440px) {
    #scenes .section_portfolio .step1 .slick-controls .slick-controls-direction {
        height: 60px
    }
}

@media screen and (max-width:768px) {
    #scenes .section_portfolio .step1 .slick-controls .slick-controls-direction {
        width: 100%;
        height: 30px
    }
}

#scenes .section_portfolio .step1 .slick-controls a {
    border: 2px solid #3116f8;
    margin: 0 10px;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    position: absolute;
    top: 0;
    height: 100%;
    font-size: 25px;
    color: #fff;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    padding: 0 21px;
    width: 70px
}

@media screen and (max-width:1600px) {
    #scenes .section_portfolio .step1 .slick-controls a {
        font-size: 16px
    }
}

@media screen and (max-width:1440px) {
    #scenes .section_portfolio .step1 .slick-controls a {
        width: 60px
    }
}

@media screen and (max-width:1024px) {
    #scenes .section_portfolio .step1 .slick-controls a {
        font-size: 14px
    }
}

#scenes .section_portfolio .step1 .slick-controls a.slick-prev {
    right: 100%
}

#scenes .section_portfolio .step1 .slick-controls a.slick-prev:hover:before {
    background-position: 100% 50%
}

@media screen and (max-width:768px) {
    #scenes .section_portfolio .step1 .slick-controls a {
        width: 30px;
        padding: 0
    }
    #scenes .section_portfolio .step1 .slick-controls a.slick-prev:hover:before {
        background-position: 13px 50%
    }
}

#scenes .section_portfolio .step1 .slick-controls a.slick-prev:before {
    pointer-events: none;
    content: ' ';
    display: inline-block;
    width: 13px;
    height: 22px;
    background-position: 0 50%;
    background-image: url(dist/img/icons/arrow_left.svg);
    -webkit-transition: ease background-position .5s;
    transition: ease background-position .5s
}

#scenes .section_portfolio .step1 .slick-controls a.slick-next {
    left: 100%
}

#scenes .section_portfolio .step1 .slick-controls a.slick-next:hover:after {
    background-position: 100% 50%
}

@media screen and (max-width:768px) {
    #scenes .section_portfolio .step1 .slick-controls a.slick-prev:before {
        width: 6px;
        height: 11px
    }
    #scenes .section_portfolio .step1 .slick-controls a.slick-prev {
        right: -webkit-calc(100% - 40px);
        right: calc(100% - 40px)
    }
    #scenes .section_portfolio .step1 .slick-controls a.slick-next:hover:after {
        background-position: 6px 50%
    }
}

#scenes .section_portfolio .step1 .slick-controls a.slick-next:after {
    pointer-events: none;
    content: ' ';
    width: 13px;
    display: inline-block;
    height: 22px;
    background-position: 0 50%;
    background-image: url(dist/img/icons/arrow_right.svg);
    -webkit-transition: ease background-position .5s;
    transition: ease background-position .5s
}

@media screen and (max-width:768px) {
    #scenes .section_portfolio .step1 .slick-controls a.slick-next:after {
        width: 6px;
        height: 11px;
        background-position: -7px 50%
    }
    #scenes .section_portfolio .step1 .slick-controls a.slick-next {
        left: -webkit-calc(100% - 40px);
        left: calc(100% - 40px)
    }
}

#scenes .section_portfolio .step2 .nav {
    width: 80px;
    right: -110px;
    position: absolute;
    top: 150px;
    z-index: 2
}

@media screen and (max-width:1400px) {
    #scenes .section_portfolio .step2 .nav {
        width: 60px;
        right: 20px
    }
}

@media screen and (max-width:768px) {
    #scenes .section_portfolio .step2 .nav {
        width: -webkit-calc(100% - 30px);
        width: calc(100% - 30px);
        position: relative;
        top: 0;
        right: 0
    }
}

#scenes .section_portfolio .step2 .nav a {
    display: block;
    width: 100%;
    margin-bottom: 30px
}

@media screen and (max-width:768px) {
    #scenes .section_portfolio .step2 .nav a {
        width: 50px;
        margin: 0 0 0 10px;
        float: right
    }
}

#scenes .section_portfolio .step2 .nav a svg {
    width: 100%
}

#scenes .section_portfolio .step2 .nav a.bt__info svg:nth-child(1) {
    display: block
}

#scenes .section_portfolio .step2 .nav a.bt__info svg:nth-child(2),
#scenes .section_portfolio .step2 .nav a.bt__info.active svg:nth-child(1) {
    display: none
}

#scenes .section_portfolio .step2 .nav a.bt__info.active svg:nth-child(2) {
    display: block
}

#scenes .section_portfolio .step2 .work,
#scenes .section_portfolio .step2 .work__end {
    display: none
}

#scenes .section_portfolio .step2 .work {
    width: 100%;
    padding: 0 100px
}

#scenes .section_portfolio .step2 .work img,
#scenes .section_portfolio .step2 .work video {
    width: 100%;
    height: auto
}

#scenes .section_portfolio .step2 .work__end .text {
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: #0f1542;
    margin-bottom: 90px
}

#scenes .section_about .top .text,
#scenes .section_portfolio .step2 .info {
    color: #7a7a7a;
    font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width:768px) {
    #scenes .section_portfolio .step2 .work,
    #scenes .section_portfolio .step2 .work__end {
        padding: 30px 0
    }
    #scenes .section_portfolio .step2 .work__end .text {
        font-size: 36px;
        margin-bottom: 30px
    }
}

#scenes .section_portfolio .step2 .work.active,
#scenes .section_portfolio .step2 .work__end.active {
    display: block
}

#scenes .section_portfolio .step2 .info {
    display: none;
    width: 430px;
    position: absolute;
    right: 20px;
    top: 50%;
    z-index: 20;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 20px;
    line-height: 35px;
    background: #fff;
    padding: 80px 0 80px 60px
}

@media screen and (max-width:1400px) {
    #scenes .section_portfolio .step2 .info {
        right: 100px;
        font-size: 16px;
        line-height: 30px
    }
}

@media screen and (max-width:768px) {
    #scenes .section_portfolio .step2 .info {
        width: 100%;
        position: relative;
        right: 0;
        top: 0;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        font-size: 14px;
        line-height: 28px;
        padding: 0 15px
    }
}

#scenes .section_about .top {
    width: 100%;
    position: absolute;
    top: 12vh;
    left: 0
}

#scenes .section_about .top h1 {
    font-size: 150px;
    margin: 0 0 50px 0!important;
}

@media screen and (max-width:1600px),
(max-width:1600px) and (max-height:860px) {
    #scenes .section_about .top h1 {
        font-size: 100px!important;
        margin: 0 0 40px!important
    }
}

@media screen and (max-width:1440px),
(max-width:1440px) and (max-height:860px) {
    #scenes .section_about .top h1 {
        font-size: 30px!important;
        margin: 40px 0 11px!important
    }
}

@media screen and (max-width:1024px) {
    #scenes .section_about .top h1 {
        font-size: 60px!important;
        margin: 0 0 40px!important
    }
}

@media screen and (max-width:768px) {
    #scenes .section_about .top {
        position: relative;
        top: 0
    }
    #scenes .section_about .top h1 {
        font-size: 36px!important;
        margin: 0 0 30px!important
    }
}

#scenes .section_about .people__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 80px;
    left: 0
}

@media screen and (max-width:1024px) {
    #scenes .section_about .people__list {
        bottom: 140px
    }
}

#scenes .section_about .people__list .people {
    width: 100%
}

@media screen and (max-width:768px) {
    #scenes .section_about .people__list {
        position: relative;
        bottom: 0;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-bottom: 120px
    }
    #scenes .section_about .people__list .people {
        width: 50%
    }
}

#scenes .section_about .people__list .people .photo {
    width: 100%;
    height: auto;
    padding-top: 140%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    margin-bottom: 25px
}

#scenes .section_about .people__list .people .name {
    font-weight: 700;
    font-size: 16px;
    color: #3116f8;
    margin-bottom: 5px
}

@media screen and (max-width:768px) {
    #scenes .section_about .people__list .people .name {
        font-size: 14px
    }
}

#scenes .section_about .people__list .people .position {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #0f1542
}

.ie footer .shape svg {
    height: 196px
}

@media screen and (max-width:1024px) {
    .ie footer .shape svg {
        height: 136px
    }
}

footer {
    display: none;
    position: fixed;
    background-color: transparent;
    right: 0;
    cursor: default;
    bottom: -5px;
    color: #fff;
    z-index: 50;
    width: 280px;
    height: 240px
}

.bx-controls a,
footer .shape,
footer.active {
    cursor: pointer
}

@media screen and (max-width:768px) {
    #scenes .section_about .people__list .people .position {
        font-size: 11px
    }
    footer {
        width: 0;
        height: 0
    }
}

footer.clicked .shape svg {
    width: 220vw
}

@media screen and (max-width:768px) {
    footer.clicked .shape svg {
        width: 350vw
    }
}

footer.active .shape svg {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
}

footer.active svg {
    fill: #fff
}

footer.active #ctc_text span,
footer.active #ctc_text svg,
footer.active .page_text span,
footer.active .page_text svg {
    opacity: 1;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

footer:hover #ctc_text,
footer:hover .page_text {
    color: #7a7a7a
}

footer:hover svg {
    fill: #7a7a7a
}

footer .shape svg {
    width: 230px;
    display: block;
    position: relative;
    z-index: 5;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
    -ms-transform: translate(100%, 100%);
    -webkit-transform: translate(100%, 100%);
    transform: translate(100%, 100%)
}

footer path {
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

footer #ctc_text,
footer .page_text {
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    pointer-events: none
}

@media screen and (max-width:1024px) {
    footer .shape svg {
        width: 180px
    }
    footer #ctc_text,
    footer .page_text {
        bottom: 20px;
        right: 10px
    }
}

@media screen and (max-width:768px) {
    footer .shape svg {
        width: 0
    }
    footer #ctc_text,
    footer .page_text {
        display: none
    }
}

footer #ctc_text span,
footer .page_text span {
    display: block
}

footer #ctc_text.hidden,
footer .page_text.hidden {
    visibility: hidden
}

footer #ctc_text svg,
footer .page_text svg {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

footer #ctc_text span,
footer #ctc_text svg,
footer .page_text span,
footer .page_text svg {
    opacity: 0;
    position: relative;
    z-index: 10
}

footer .page_text {
    display: none;
    font-size: 25px;
    font-weight: 700
}

footer .shape {
    position: fixed;
    bottom: 0;
    display: inline-block;
    right: 0
}

footer[data-function=about] #ctc_text,
footer[data-function=portfolio] #ctc_text {
    display: none
}

@media screen and (min-width:769px) {
    footer[data-function=about] .page_text.about,
    footer[data-function=portfolio] .page_text.portfolio {
        display: block;
    }
}

.contact {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    text-align: center;
    z-index: 60;
    min-height: 490px;
    color: #fff
}

.contact .contact__flex {
    height: 100%
}

.contact .title {
    color: #fff;
    margin-top: -10px
}

.contact form {
    margin-top: 44px
}

.contact .socials {
    position: fixed;
    right: 0;
    bottom: 30px;
    left: 0;
    text-align: center
}

@media screen and (max-width:768px) {
    .contact {
        background-color: black;
        padding-top: 150px;
        overflow: auto;
        min-height: 1px;
        -webkit-overflow-scrolling: touch
    }
    .contact .socials {
        position: static;
        margin: 40px 0
    }
}

.bx-controls {
    position: absolute;
    text-align: center;
    left: 60px;
    right: 60px;
    z-index: 54
}

@media screen and (min-width:1440px) {
    .bx-controls {
        bottom: 60px
    }
}

@media screen and (max-width:1440px) and (min-width:768px) {
    .bx-controls {
        left: 30px;
        bottom: 0px;
        right: 30px
    }
}

@media screen and (max-width:768px) {
    .bx-controls {
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 10px 20px;
        background-color: #fff;
        border-top: 2px solid #3116f8
    }
}

.bx-controls .bx-controls-direction {
    width: 1px;
    position: relative;
    height: 70px;
    margin: auto
}

@media screen and (max-width:1440px) {
    .bx-controls .bx-controls-direction {
        height: 45px
    }
}

@media screen and (max-width:768px) {
    .bx-controls .bx-controls-direction {
        width: 100%;
        height: 30px
    }
}

.bx-controls a {
    border: 2px solid #3116f8;
    margin: 0 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    position: absolute;
    top: 0;
    height: 100%;
    font-size: 25px;
    color: #fff;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    padding: 0 5px;
    width: 70px
}

.bx-controls a.bx-next:after,
.bx-controls a.bx-prev:before {
    pointer-events: none;
    content: ' ';
    display: inline-block
}

@media screen and (max-width:1600px) {
    .bx-controls a {
        font-size: 16px
    }
}

@media screen and (max-width:1440px) {
    .bx-controls a {
        width: 45px
    }
}

@media screen and (max-width:1024px) {
    .bx-controls a {
        font-size: 14px
    }
}

.bx-controls a.bx-prev {
    right: 100%
}

.bx-controls a.bx-prev:hover:before {
    background-position: 100% 50%
}

@media screen and (max-width:768px) {
    .bx-controls a {
        width: 30px;
        padding: 0
    }
    .bx-controls a.bx-prev:hover:before {
        background-position: 13px 50%
    }
}

.bx-controls a.bx-prev:before {
    width: 12px;
    height: 14px;
    background-position: 0 50%;
    background-image: url(dist/img/icons/arrow_left.svg);
    -webkit-transition: ease background-position .5s;
    transition: ease background-position .5s
}

.bx-controls a.bx-next {
    left: 100%
}

.bx-controls a.bx-next:hover:after {
    background-position: 100% 50%
}

@media screen and (max-width:768px) {
    .bx-controls a.bx-prev:before {
        width: 6px;
        height: 11px
    }
    .bx-controls a.bx-prev {
        right: -webkit-calc(100% - 40px);
        right: calc(100% - 40px)
    }
    .bx-controls a.bx-next:hover:after {
        background-position: 6px 50%
    }
}

.bx-controls a.bx-next:after {
    width: 12px;
    height: 14px;
    background-position: 0 50%;
    background-image: url(dist/img/icons/arrow_right.svg);
    -webkit-transition: ease background-position .5s;
    transition: ease background-position .5s
}

@media screen and (max-width:768px) {
    .bx-controls a.bx-next:after {
        width: 6px;
        height: 11px;
        background-position: -7px 50%
    }
    .bx-controls a.bx-next {
        left: -webkit-calc(100% - 40px);
        left: calc(100% - 40px)
    }
    .bx-controls a span {
        display: none
    }
}

.bx-controls a:hover {
    background-color: #3116f8
}

@media screen and (min-width:769px) {
    .bx-controls a:hover {
        width: 60px
    }
    .bx-controls a:hover span {
        width: 160px
    }
}

.bx-controls a:hover span {
    display: none;
    opacity: 1;
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
}

.bx-controls a span {
    width: 0;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.ie #contact,
.ie_safari .btn .bg {
    display: none!important
}

@media screen and (min-width:769px) {
    body[data-page=about] .bx-controls,
    body[data-page=portfolio] .bx-controls {
        opacity: 0;
        pointer-events: none
    }
}

.ie_safari .btn .bg {
    height: 0
}

.firefox .btn.active .bg:first-of-type,
.firefox .btn:hover .bg:first-of-type {
    height: 50px
}

.firefox .btn.active .bg:nth-of-type(2),
.firefox .btn:hover .bg:nth-of-type(2) {
    height: 40px
}

.firefox .btn .bg:first-of-type {
    top: -20px
}

.firefox .btn .bg:nth-of-type(2) {
    bottom: -10px
}

.disabled .btn {
    cursor: not-allowed
}

.disabled .btn:hover {
    -webkit-animation-name: none;
    animation-name: none;
    -webkit-animation-duration: 0s;
    animation-duration: 0s
}

@media (min-width: 320px) and (max-width: 480px) {
    .logo_adjust {
        margin-left: -15%;
    }
}

.left_border {
    padding-left: 5px;
    border-left: 4px solid #0f1542;
}

.left_border:hover {
    color: #3116f7;
}

.left_border:hover {
    padding-left: 5px;
    border-left: 4px solid #3116f7;
}

.contact {
    background-color: black !important;
}

.txt_border {
    border-bottom: 2px solid black;
}

.text-center {
    text-align: center;
    color: #3116f7;
    font-size: 25px;
    padding-bottom: 10px;
}

.para_txt {
    line-height: 25px;
    font-size: 21px;
    color: black;
    font-family: sans-serif;
}

@media (min-width: 320px) and (max-width: 480px) {
    .giF-mg {
        display: none;
    }
}

.foot_txt {
    left: 17px;
    font-size: 18px;
}

.disabled {
    pointer-events: none;
    cursor: default;
}